<%- include("../../primary/onHeadLogin", {data:data}); %>
<div class="container-fluid">
	<div class="row" id="bienvenido">
		<%if(data.user.rfcorg =="administrador"){%>
			<div class="col-md-3">
				<%- include("../../primary/menu-admin"); %>
			</div>
		<% } %>
		<div class="col-md-9">
			<div class="col-md-12 Bienvenido">
				<p class="title-blue">REGISTROS DE EQUIPAMIENTO</p>
				<table class="table">
					<tr>
						<th>Nombre</th>
						<th>Rango</th>
						<th>Mnicipio</th>
						<th>Descripción</th>
						<th>Fecha de Registro</th>
					</tr>
					<%data.equipamiento.forEach(function(eq){
					%>
					<tr>
						<td><%=eq.nombre%></td>
						<td><%=eq.trango%></td>
						<td><%=eq.municipio%></td>
						<td><%=eq.descripcion%></td>
						<td><%=(new Date(parseInt(eq.fecharegistro))).getDate() +"/"+ ((new Date(parseInt(eq.fecharegistro))).getMonth()+1) +"/"+ (new Date(parseInt(eq.fecharegistro))).getFullYear()%></td>
						<td><button class="btn btn-success" onclick="javascript: window.location.href = '/ver/equipamiento/<%=eq._id%>'">Ver</button></td>
					</tr>
					<%})%>
				</table>
			</div>
		</div>
	</div>
</div>