<%- include("../../primary/onHeadLogin", {data:data}); %>
<div class="container-fluid">
	<div class="row" id="bienvenido">
		<%if(data.user.rfcorg =="administrador"){%>
			<div class="col-md-3">
				<%- include("../../primary/menu-admin"); %>
			</div>
		<% } %>
		<div class="col-md-9">
			<div class="row">
					<div class="col-md-12 Bienvenido">
						<p class="title-blue">REGISTROS DE PREMIOS</p>
						<table class="table">
							<tr>
								<th>RFC</th>
								<th>Oganización</th>
								<th>Correo</th>
								<th>Donataria</th>
								<th>Teléfono</th>
								<th>Junta General de Asistencia</th>
								<th> Fecha de Registro</th>
							</tr>
							<%data.premios.forEach(function(premio){
							%>
							<tr>
								<td><%=premio.rfcorganizacion%></td>
								<td><%=premio.nombreorganizacion%></td>
								<td><%=premio.correoorganizacion%></td>
								<td><%=premio.donatariaorganizacion%></td>
								<td><%=premio.telefonoorganizacion%></td>
								<td><%=premio.juntaorganizacion%></td>
								<td><%=(new Date(parseInt(premio.fecharegistro))).getDate() +"/"+ ((new Date(parseInt(premio.fecharegistro))).getMonth()+1) +"/"+ (new Date(parseInt(premio.fecharegistro))).getFullYear()%></td>
								<td><button class="btn btn-success" onclick="javascript: window.location.href = '/ver/premio/<%=premio._id%>'">Ver</button></td>
							</tr>
							<%})%>
						</table>
					</div>
				</div>
		</div>
	</div>
</div>