<%- include("../../primary/onHeadLogin", {data:data}); %>
<div class="container-fluid">
	<div class="row" id="bienvenido">
		<%if(data.user.rfcorg =="administrador"){%>
			<div class="col-md-3">
				<%- include("../../primary/menu-admin"); %>
			</div>
		<% } %>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12 Bienvenido">
					<p class="title-blue">REGISTROS DE PROYECTOS</p>
					<table class="table">
						<tr>
							<th>Nombre</th>
							<th>Rango</th>
							<th>Mnicipio</th>
							<th>Descripción</th>
							<th>Fecha de Registro</th>
						</tr>
						<%data.proyectos.forEach(function(proy){
						%>
						<tr>
							<td><%=proy.nombre%></td>
							<td><%=proy.rango%></td>
							<td><%=proy.municipio%></td>
							<td><%=proy.descripcion%></td>
							<td><%=(new Date(parseInt(proy.fecharegistro))).getDate() +"/"+ ((new Date(parseInt(proy.fecharegistro))).getMonth()+1) +"/"+ (new Date(parseInt(proy.fecharegistro))).getFullYear()%></td>
							<td><button class="btn btn-success" onclick="javascript: window.location.href = '/ver/proyecto/<%=proy._id%>'">Ver</button></td>
						</tr>
						<%})%>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>