.Actividades span.actividad-subtitle{
    font-weight: bold;
    font-size: 20px;
    color: #05595B;
}

.Actividades i.fa-square{
    margin-right: 5px;
    color:#e66476;
}

.Proyecto span.actividad-subtitle{
    font-weight: bold;
    font-size: 20px;    
}

.Proyecto i.fa-square{
    margin-right: 5px;
    color:#e66476;
}

.item input{
    margin-right: 5px
}

#principal{
    background:rgba(9,72,102,1);
    text-align: center;
    padding-top: 20px;
}

#principal p.principal{            
    font-weight: bold;
    font-family: "GraphikBlack";
    font-size: 26px;
    color:#fff;
    letter-spacing: 2px;
}

#principal p.secundario{            
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:#e16476;
    letter-spacing: 1vw;
}

.acciones{
    margin-top: 20px;
}

/*.acciones button{
    background: #e16476;
    border: none;
    margin:10px;
    height: 50px;
    width: 215px;
    color: #fff;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}*/

.buscar{
    text-align: center;
    margin-top: 20px;
}

.buscar input{
    width: 30vw;
    height: 40px;
    border: none;
    border-bottom: 1px solid #000;
    padding-left: 10px;
    font-size: 20px;
}

.buscar input:focus{
    outline:0px;
    border: none;
    border-bottom: 2px solid #000;
}

.buscar span{
    font-size: 20px;
}

.buscar small{
    font-size: 14px;
    font-style: italic;
}

.images{
    margin-top: 40px;
}

.img-1{
    height: 200px;
    width: 50vh;
    background-image: url("/img/Recurso 1.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 0px;
    border-radius: 15px;
}

.img-2{
    height: 200px;
    width: 50vh;
    background-image: url("/img/Recurso 2.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 0px;
    border-radius: 15px;
}

.img-3{
    height: 200px;
    width: 50vh;
    background-image: url("/img/Recurso 3.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 0px;
    border-radius: 15px;
}

.img-4{
    height: 200px;
    width: 50vh;
    background-image: url("/img/Recurso 4.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 0px;
    border-radius: 15px;
}

.img_alta{
    height:550px;
    width: 100%;
    background-image: url('/img/registro.png');
    background-size: cover;
    background-position: center top;
    position: relative;
    margin: 0px;
}

.img_banner{
    height:350px;
    width: 100%;
    background-image: url('/img/banner_home.png');
    background-size: cover;
    background-position: center top;
    position: relative;
    margin: 0px;
}

.img_bienvenido{
    height: 75vh;
    width: 100%;
    background-image: url('/img/bienvenido2.png');
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 0px;
}

.img_acciones{
    height: 75vh;
    width: 100%;
    background-image: url('/img/bienvenido2.png');
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 0px;
}

.img_login{
    height: 75vh;
    width: 100%;
    background-image: url('/img/bienvenido.png');
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 0px;
}

.Alta{
    margin: 0px;
    padding: 0px;
}

.Alta label{
    color: #092432 !important;
}

.Alta input{
    border-radius: 20px;
    background: #ececec;
    border: none !important;
}

.alta h5{
    margin-top: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 25px;
}

.alta h3{
    font-weight: bold;
    font-family: "GraphikBlack";
    color:#212529;
    letter-spacing: 2px;
    margin-top:20px;
}

.alta p{
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    padding: 0px;
}

#alta .actions{
    text-align: center;
    margin: 20px 0px;
}

/*#alta .actions button{
    width: 150px;
    border-radius: 20px;
}*/

.actions button.btn-back{
    background-color: #092432;
    border: none;
    margin: 10px;
    height: 50px;
    width: 180px;
    color: #fff;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}

.actions button.btn-send{
    background-color: #ff735d;
    border: none;
    margin: 10px;
    height: 50px;
    width: 180px;
    color: #fff;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*#alta .actions button.btn-enviar{
    background: #e66476;
    color:#fff;
}*/

#login .actions{
    text-align: center;
}

/*#login .actions button{
    width: 150px;
    border-radius: 20px;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}*/

/*#login .actions button.btn-enviar{
    background: #e66476;
    color:#fff;
    font-size: 15px;
    letter-spacing: 2px;
}*/

#login .title{
    font-weight: 300;
    font-size: 45px;
    margin: 20px;
    letter-spacing: 15px;
    font-style: normal;
}

#login{
    margin-top: 0px;
}

#login button.btn-back{
    background-color: #092432;
    border: none;
    margin: 10px;
    height: 50px;
    width: 180px;
    color: #fff;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}

#login button.btn-login{
    background-color: #ff735d;
    border: none;
    margin: 10px;
    height: 50px;
    width: 180px;
    color: #fff;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}

#login input{
    border-radius: 20px;
    background: #ececec;
    border: none !important;
}

 #bienvenido .actions{
    text-align: center;
}

#bienvenido .actions button.btn-start{
    width: 200px;
    border-radius: 20px;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    background: #ff735d;
    color:#fff;
    font-size: 15px;
}

/*#bienvenido .actions button.btn-enviar{
    background: #e66476;
    color:#fff;
    font-size: 15px;
    letter-spacing: 2px;
    height: 50px;
    width: 250px;
    margin: 10px 0px 30px 0px;
}*/

/*#bienvenido .actions button.btn-iniciar{
    background: #e66476;
    color:#fff;
    font-size: 15px;
    letter-spacing: 2px;
    height: 50px;
    width: 250px;
    margin: 0px 0px 0px 0px;
}*/


#Bienvenido.actions button.btn-start{
    background-color: #ff735d;
    border: none;
    margin: 10px;
    height: 50px;
    width: 180px;
    color: #fff;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}


.Bienvenido i{
    font-size: 80px;
}

.Bienvenido h5{
    color: #092432;
    font-weight: bold;
    margin: 5px;
}

.Bienvenido .title-blue{
    font-size: 30px;
    letter-spacing: 8px;
    font-weight: 300;
    margin: 20px 0px;
}

#bienvenido th{
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ff735d;
}

#bienvenido td{
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #9c9c9c;
}

#bienvenido button{
    background-color: #092432;
    border: none !important;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

#bienvenido button:hover{
    background-color: #ff735d;
    border: none !important;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}



.Bienvenido .subtitle-orange{
    font-size: 30px;
    font-weight: 400;
    color: #ff735d;
}

.Bienvenido p{
    color: #092432;
    margin: -2px;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
}

.Bienvenido span{
    color: #9c9c9c;
    margin: 5px;
    text-align: justify;
    font-weight: 300;
}

.respuesta{
    text-align: center;
    margin-top: 50px;
}

.respuesta .principal{
    font-size: 40px;
    color: #ff735d;
    letter-spacing: 3px;
    font-weight: 300
}

.respuesta .secundario{
    font-size: 18px;
    color: #092432;
    letter-spacing: 1px;
    font-weight: 300
}

.respuesta .subtitle{
    font-size: 18px;
    color: #ff735d;
    font-weight: 500
}

.respuesta button{
    background-color: #ff735d;
    border: none;
    margin: 10px;
    width: 215px;
    color: #fff;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}

#inicio .images{
    justify-content: space-around;
    margin-bottom: 30px;
}

#view .title{
    text-align: left; 
    font-weight: bold; 
    font-size: 25px; 
    color:#0A2431; 
    margin: 10px 0px;
}

#view span{
    margin: 10px 2px; 
    padding: 5px 10px; 
    letter-spacing: 2px;
}

#view p{
    text-align: justify;
}

#view .words{
    text-align: left;
    margin: 10px 0px;
    font-weight: bold;
}

#view address{
    margin:0px;
}

#view a{
    color:#fff;
    margin: 0px;
    padding: 0px;
}

#view .networks .icon a i:hover{
    color:#9c9c9c !important;
}

/*#Acciones p.name{
    color:#e66476; 
    font-weight: bold;
    letter-spacing: 2px;
}
*/
#Acciones h6{
    margin: 10px;
    color: #000;
}

#Acciones .icons{
    margin: 5px;
    padding: 5px;
}

.acciones{
    margin:0px;
}

.acciones button.btn-login{
    background-color: #ff735d;
    border: none;
    margin: 10px;
    height: 50px;
    width: 215px;
    color: #fff;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}

.acciones button.btn-new-register{
    background-color: #092432;
    border: none;
    margin: 10px;
    height: 50px;
    width: 215px;
    color: #fff;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}


.acciones button.btn-login: hover{
    background-color: red;
}


#Acciones .icons:hover{
    /*background: #5C5C5C;*/
    /*border-radius: 20px;*/
    cursor: pointer;
}

.acciones .title-blue{
    font-size: 50px;
    letter-spacing: 8px;
    font-weight: 300
}

.acciones .subtitle-orange{
    font-size: 30px;
    font-weight: 400;
    color: #ff735d;
}

#acciones .participa{
    /*color: #092432;*/
    margin: -2px;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
}

.registro input,textarea, select.form-control{
    border-radius: 15px;
    background: #ececec;
    border: none !important;
}

.registro .title{
    font-size: 40px;
    letter-spacing: 8px;
    font-weight: 300;
    text-align: center;
}

.registro .subtitle{
    font-size: 20px;
    font-weight: 500;
    color: #ff735d;
}

.registro button.btn-block{
    background-color: #092432;
    border: none !important;
    color: #fff;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}

.registro button.btn-delete{
    background-color: #ff735d;
    border: none !important;
    color: #fff;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0px;
}

.registro button.btn-back{
    background-color: #ff735d;
    border: none !important;
    color: #fff;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0px;
    width: 200px;
}

.registro button.btn-save{
    background-color: #092432;
    border: none !important;
    color: #fff;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    width: 200px;
}

@media screen and (max-width: 767px) {
    .buscar input{  
        width: 70%;
        height: 40px;
        border: none;
        border-bottom: 2px solid #000;
        padding-left: 10px;
        font-size: 20px;
    }
    .img_alta{
        display: none;
    }

    .img_login{
        display: none;
    }

    #inicio .images{
        justify-content: center;
    }
}

.form-control{
    border: 1px solid #98B4AA !important;
}

label, small{
    color: #05595B !important;
    letter-spacing: 1px !important;
}

textarea{
    border: 1px solid #98B4AA !important;
}