<div class="container">
	<div class="row" id="Acciones">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6 img_acciones"></div>
				<div class="col-md-6">
					<div class="acciones form-group col-md-12 col-12">
						<p class="title-blue">BIENVENIDO</p>
						<p class="name subtitle-orange"><%=data.user.nombreorg%></p>
					</div>					
		      <div class="row">
		        <div class="acciones form-group col-lg-5 col-md-5 col-5 icons" style="text-align: center; color: #e66476">
							<img src="./img/datos_generales.png" alt="datosgenerales" style="height:120px">
						</div>
						<div class="acciones form-group col-lg-5 col-md-5 col-5 icons" style="text-align: center; color: #e66476"  onclick=" window.location.href = '/update/organizacion/<%=data.registro[0]._id%>'"
							>
							<img src="./img/documentacion.png" alt="documentacion" style="height:120px">
						</div>
		      </div>
					<div class="participa">Participa:</div>
					<div class="row icons" style="margin: 10px;<%= (data.registro[0].estatus != "Validado")?"pointer-events:none":"" %>" onclick="window.location.href='/Proyecto'">
						<div class="col-md-2">
							<i class="fas fa-lightbulb" style="font-size: 50px"></i>
						</div>
						<div class="col-md-10">
							<span style="font-style: italic;">Mi primer proyecto con impacto social</span></br>
							<small style="color: #9c9c9c">Si tu organización tienes menos de 2 años de constitución.</small>
						</div>
					</div>
					<div class="row icons" style="margin: 10px; <%= (data.registro[0].estatus != "Validado")?"pointer-events:none":"" %>" onclick="window.location.href='/Equipamiento'">
						<div class="col-md-2">
							<i class="fas fa-toolbox" style="font-size: 50px"></i>
						</div>
						<div class="col-md-10">
							<span style="font-style: italic;">Equipamiento a Organizaciones de la Sociedad Civil</span></br>
							<small style="color: #9c9c9c">Si tu organización tiene más de 2 años de constitución y 	cuenta con CLUNI.</small>
						</div>
					</div>
					<div class="row icons" style="margin: 10px;<%= (data.registro[0].estatus != "Validado")?"pointer-events:none":"" %>"  onclick="window.location.href='/Premio'">
						<div class="col-md-2">
							<i class="fas fa-trophy" style="font-size: 50px"></i>
						</div>
						<div class="col-md-10">
							<small style="color: #9c9c9c">Premio a la Innovación Social</small></br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var data = <%- JSON.stringify(data) %>;
	if(data.registro[0].estatus != "Validado"){
		Swal.fire({
					icon:"error",
					title:"¡ERROR!",
					html:"No se puede realizar ninguna acción, hasta que su organización tenga su registro en estatus de 'Validado'."+
					"<br><br><b>Modifique su información validada</b>"
				})
	}
</script>