<%- include("../primary/onHeadLogin", {data:data}); %>
<div class="container-fluid">
	<div class="row" id="bienvenido">
		<div class="col-md-3">
			<%- include("../primary/menu-admin"); %>
		</div>
		<div class="col-md-9">
			<div class="row">
				<%if(data.user.rfcorg !="administrador"){%>
				 <% if( data.organizacion > 0 && data.registro[0].estatus != "Rechazado"){ %>
			            	<%- include("./Acciones", {data:data}); %>
			            <% }else{ %>
			            	<div class="col-md-6 img_bienvenido"></div>
						<div class="col-md-6 alta">
						<div class="Bienvenido form-group col-md-12 col-12">
							<p class="title-blue">BIENVENIDO</p>
							<p class="name subtitle-orange"><%=data.user.nombreorg%></p>
						</div>
						<div class="Bienvenido form-group col-md-12 col-12">
			                <p>El registro está dividido en dos secciones.<br/>
			                	Una vez completado tu registro da clic en solicitar aprobación, los
								datos que ingresaste serán verificados y en un lapso no mayor a 10
								días te llegará un correo electrónico, aprobando el registro o
								solicitando solventar algún dato.<br/>
								Una vez aprobado podrás participar en las convocatorias abiertas y
								personalizar tu espacio en el directorio.
							</p>
			            </div>
			            <div class="row">
			            	<div class="Bienvenido form-group col-lg-6 col-md-6 col-6" style="text-align: center !important; color: #e66476">
								<img src="./img/datos_generales.png" alt="datosgenerales" style="height:120px">
								<!-- <span>Completado 0%</span> -->
							</div>
							<div class="Bienvenido form-group col-lg-6 col-md-6 col-6" style="text-align: center; color: #e66476">
								<img src="./img/documentacion.png" alt="documentacion" style="height:120px">
								<!-- <span>Completado 0%</span> -->
							</div>
			            </div>
			            <% if( data.organizacion == 0){%>
							<div class="Bienvenido form-group col-md-12 col-sm-12 col-xs-6 col-12 actions" style="text-align: center;">
								<button class="btn btn-lg btn-start" onclick="window.location.href='/Registro'">Iniciar Registro</button>
			            	</div>
			            <% } %>

			            <div class="Bienvenido form-group col-md-12 col-sm-12 col-xs-6 col-12 actions" style="text-align: center;">
							<span>Una vez iniciado el proceso de validación de datos, no podrás realizar ninguna acción en el portal.</span>
			            </div>
					</div>
			            <%}%>

				<%}else{%>
				<div class="row">
		        		<div class="col-md-12 Bienvenido">
		        			<p class="title-blue">ORGANIZACIONES DE LA SOCIEDAD CIVIL</p>
		        		</div>
		        	</div>
		        <div class="col-md-5 col-sm-12">
		        	<canvas id="myChart"></canvas>
		        </div>
		        <div class="col-md-7 col-sm-12">
		        	<table class="table" style="margin:50px">
		        		<tr>
		        			<td><b>Total general de registros</b></td>
		        			<td><%=data.totales%></td>
		        		</tr>
		        		<tr>
		        			<td><b>Registro</b></td>
		        			<td><%=data.registros.length%></td>
		        		</tr>
		        		<tr>
		        			<td><b>Validadas</b></td>
		        			<td><%=data.validadas%></td>
		        		</tr>
		        		<tr>
		        			<td><b>Rechazadas</b></td>
		        			<td><%=data.rechazadas%></td>
		        		</tr>
		        	</table>
		        </div>
		        <div class="row" style="">
					<div class="Bienvenido">
						<p class="title-blue">REGISTROS POR VALIDAR</p>
					</div>
					<%- include("./Validar", {data:data}); %>
				</div>
				<div class="row">
					<div class="col-md-12 Bienvenido">
						<p class="title-blue">REGISTROS DE PREMIOS</p>
						<table class="table">
							<tr>
								<th>RFC</th>
								<th>Oganización</th>
								<th>Correo</th>
								<th>Donataria</th>
								<th>Teléfono</th>
								<th>Junta General de Asistencia</th>
								<th> Fecha de Registro</th>
							</tr>
							<%data.premios.forEach(function(premio){
							%>
							<tr>
								<td><%=premio.rfcorganizacion%></td>
								<td><%=premio.nombreorganizacion%></td>
								<td><%=premio.correoorganizacion%></td>
								<td><%=premio.donatariaorganizacion%></td>
								<td><%=premio.telefonoorganizacion%></td>
								<td><%=premio.juntaorganizacion%></td>
								<td><%=(new Date(parseInt(premio.fecharegistro))).getDate() +"/"+ ((new Date(parseInt(premio.fecharegistro))).getMonth()+1) +"/"+ (new Date(parseInt(premio.fecharegistro))).getFullYear()%></td>
								<td><button class="btn btn-success" onclick="javascript: window.location.href = '/ver/premio/<%=premio._id%>'">Ver</button></td>
							</tr>
							<%})%>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 Bienvenido">
						<p class="title-blue">REGISTROS DE PROYECTOS</p>
						<table class="table">
							<tr>
								<th>Nombre</th>
								<th>Rango</th>
								<th>Mnicipio</th>
								<th>Descripción</th>
								<th>Fecha de Registro</th>
							</tr>
							<%data.proyectos.forEach(function(proy){
							%>
							<tr>
								<td><%=proy.nombre%></td>
								<td><%=proy.trango%></td>
								<td><%=proy.municipio%></td>
								<td><%=proy.descripcion%></td>
								<td><%=(new Date(parseInt(proy.fecharegistro))).getDate() +"/"+ ((new Date(parseInt(proy.fecharegistro))).getMonth()+1) +"/"+ (new Date(parseInt(proy.fecharegistro))).getFullYear()%></td>
								<td><button class="btn btn-success" onclick="javascript: window.location.href = '/ver/proyecto/<%=proy._id%>'">Ver</button></td>
							</tr>
							<%})%>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 Bienvenido">
						<p class="title-blue">REGISTROS DE EQUIPAMIENTO</p>
						<table class="table">
							<tr>
								<th>Nombre</th>
								<th>Rango</th>
								<th>Mnicipio</th>
								<th>Descripción</th>
								<th>Fecha de Registro</th>
							</tr>
							<%data.equipamiento.forEach(function(eq){
							%>
							<tr>
								<td><%=eq.nombre%></td>
								<td><%=eq.trango%></td>
								<td><%=eq.municipio%></td>
								<td><%=eq.descripcion%></td>
								<td><%=(new Date(parseInt(eq.fecharegistro))).getDate() +"/"+ ((new Date(parseInt(eq.fecharegistro))).getMonth()+1) +"/"+ (new Date(parseInt(eq.fecharegistro))).getFullYear()%></td>
								<td><button class="btn btn-success" onclick="javascript: window.location.href = '/ver/equipamiento/<%=eq._id%>'">Ver</button></td>
							</tr>
							<%})%>
						</table>
					</div>
				</div>
		        <%}%>
			</div>
		</div>
	</div>
</div>
<script>
	var ctx = document.getElementById('myChart').getContext('2d');
	var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'pie',

    // The data for our dataset
    data: {
        labels: ['Registradas', 'Validadas', "Rechazadas"],
        options: {
			    responsive: true,
			    plugins: {
			      legend: {
			        position: 'top',
			      },
			      title: {
			        display: true,
			        text: 'Chart.js Pie Chart'
			      }
			    }
			  },
        datasets: [{
            label: 'Registros',
            backgroundColor: ['#0AA1DD', '#97DBAE', '#FF6363'],
            borderColor: ['#0AA1DD', '#97DBAE', '#FF6363'],
            data: [<%=data.registros.length%>, <%=data.validadas%>, <%=data.rechazadas%>]
        }]
    },

    // Configuration options go here

});
</script>