<%- include("../primary/without-login") %>
<div class="container">
	<div class="row" id="alta">
		<div class="col-md-6 img_alta"></div>
		<div class="col-md-5 alta">
			<h5>Genera un usuario y contraseña</h5>
			<div class="Alta form-group col-md-12 col-12">
				<p>Valida tu correo electrónico para validar tu registro.</p>
			</div>
			<div class="Alta form-group col-md-12 col-12">
          <label for="rfcorg"><span style="color:red; font-size: 25px;">*</span>RFC de tu organización</label>
				<input class="form-control" type="text" name="" id="rfcorg" placeholder="RFC de tu organización">	
      </div>
			<div class="Alta form-group col-md-12 col-12">
                <label for="nombreorg"><span style="color:red; font-size: 25px;">*</span>Nombre de la organización</label>
				<input class="form-control" type="text" name="" id="nombreorg" placeholder="Nombre de la organización">	
            </div>
            <div class="Alta form-group col-md-12 col-12">
				<label for="correoorg"><span style="color:red; font-size: 25px;">*</span>Correo electrónico</label>
				<input class="form-control" type="text" name="" id="correoorg" placeholder="Correo electrónico">
				<span id="emailOK" style="color:green"></span>
            </div>
			      <div class="Alta form-group col-md-12 col-12">
							<label for="passorg"><span style="color:red; font-size: 25px;">*</span>Contraseña</label>
							<input class="form-control" type="password" name="" id="passorg" placeholder="Contraseña">
            </div>
            <div class="Alta form-group col-md-12 col-sm-12 col-xs-6 col-12 actions" >
							<button class="btn btn-lg btn-back" onclick="window.location.href='/'">Regresar</button>
							<button class="btn btn-lg btn-send" id="enviar">Enviar</button>
            </div>
		</div>
	</div>
</div>
<script>
	$('#enviar').click(function(){
		var rfcorg = $('#rfcorg').val();
		var correoorg = $('#correoorg').val();
		var password = $('#passorg').val();
		var nombreorg = $('#nombreorg').val();

		var data = {
			rfcorg: rfcorg,
			nombreorg: nombreorg,
			correoorg: correoorg,
			passorg: password,
			fecha_registro: Number(new Date())
		}

		if(data.rfcorg != "" && data.nombreorg != "" && data.correoorg != "" && data.passorg !=""){
			$.ajax({
				type: "POST",
				url: '/Alta',
				data: data,
				success: (data)=>{
					if(data.success){
						window.location.href='/Respuesta'
					}
				}
			});
		}else{
			Swal.fire({
			  icon: 'error',
			  title: '¡ERROR!',
			  text: 'Asegurese de llenar todos los campos'
			});
		}
	});


document.getElementById('correoorg').addEventListener('input', function() {
    campo = event.target;
    valido = document.getElementById('emailOK');

    emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
    //Se muestra un texto a modo de ejemplo, luego va a ser un icono
    if (emailRegex.test(campo.value)) {
      valido.innerText = "¡correo correcto!";
    } else {
      valido.innerText = "¡correo incorrecto!";
    }
});
	

</script>