<%- include("../primary/onHead") %>
<div class="container" id="respuesta">
	<div class="mensaje">
		
	</div>
	<div class="shadow">
		<p class="principal">Gracias por tu registro</p>
		<p class="secundario">Los datos serán validados y en un máximo de 10 días te llegará un correo electrónico con la aprobación de tu registro o las observaciones a solventar.</p>
		<div style="text-align: center">
			<h3 style="color:red; font-weight:bold">IMPORTANTE</h3>
			<p style="color:#fff; font-size: 22px; font-weight:bold">Mientras tu registro es validado no podrás realizar ninguna acción dentro del portal.<p>
		</div>
		<div style="text-align: center; margin-top:40px;">
		