<%- include("../primary/without-login", {data:data}) %>
<div class="container-fluid" id="inicio">
	<!-- <div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12" id="principal">
			<p class="principal">Organizaciones de la Sociedad Civil del Estado de Hidalgo</p>
			<p class="secundario">DIRECTORIO</p>
		</div>
	</div> -->
	<div class="col-md-12 img_banner"></div>
	<div class="row acciones">
		<div class="col-md-12" style="text-align:center;">
			<button class="btn btn-lg btn-login" onclick="window.location.href='/Login'">Iniciar Sesión</button>
			<button class="btn btn-lg btn-new-register" onclick="window.location.href='/Alta'">Nuevo Registro</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 buscar">
			<span><i class="fas fa-search"></i>
			<input type="text" placeholder="Buscador de Organizaciones" id="nombreorg"></span>
			<p><small>Escribe el nombre de la Organización o palabras clave</small><p>
		</div>
	</div>
	<div class="row images" style="display: flex;">
		<div class="img-1"></div>
		<div class="img-2"></div>
		<div class="img-3"></div>
		<div class="img-4"></div>
	</div>

</div>

<script>
	function getUrlParameter(parameter) {
		parameter = parameter.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
		var regex = new RegExp('[\\?|&]' + parameter + '=([^&#]*)');
		var results = regex.exec('?' + window.location.href.split('?')[1]);
		return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
	}

	function setUrlParameter(key, value) {
    var currentUrl = window.location.href;
		var parsedUrl = $.url(currentUrl);
		var params = parsedUrl.param();
		params[key] = value;
		window.location.href = window.location.pathname + "Inicio?" + $.param(params);
	}

	$("#nombreorg").change((element) =>{
    const value = $("#nombreorg").val();
    if(value === ""){
      removeParam("text");
    }else{
      setUrlParameter("text", value);
    }
  });

  $(() =>{
  	const nombreSelected = getUrlParameter("text");
  })

</script>
