<%- include("../primary/without-login", {data:data}) %>
<div class="container">
	<div class="row" id="login">
		<div class="col-md-6 img_login"></div>
		<div class="col-md-6 alta">
			<div class="Login form-group col-md-12 col-12">
				<p class="title">BIENVENIDO</p>
			</div>
			<div class="Login form-group col-md-12 col-12">
                <label for="rfcorg"><span style="color:red; font-size: 25px;">*</span>RFC de tu organización</label>
				<input class="form-control" type="text" name="" id="rfcorg" placeholder="RFC de tu organización">	
            </div>
            <div class="Login form-group col-md-12 col-12">
				<label for="passorg"><span style="color:red; font-size: 25px;">*</span>Contraseña</label>
				<input class="form-control" type="password" name="" id="passorg" placeholder="Contraseña">
            </div>
            <div class="Login form-group col-md-12 col-sm-12 col-xs-6 col-12 actions" >
				<button class="btn btn-lg btn-back" onclick="window.location.href='/'">Regresar</button>
				<button class="btn btn-lg btn-login" id="loginsesion">Iniciar sesión</button>
            </div>
		</div>
	</div>
</div>
<script>
	$(()=>{
		$("#loginsesion").click(function(){
			$.ajax({
				method: "POST",
				url: "/Login",
				data: { rfcorg: $("#rfcorg").val(), passorg: $("#passorg").val() },
				success: (data) => {
					if(data.success){
						window.location.href = "/Bienvenido"
					}else{
						Swal.fire({
                title: '¡Error!',
                icon:"error",
                text: 'Información incorrecta, corrobore su información',
                type: 'error',
                timer: 3000
            });
					}
				}
			});
		});

		var input = document.getElementById("passorg");
		input.addEventListener("keyup", function(event) {
		  if (event.keyCode === 13) {
		    event.preventDefault();
		    document.getElementById("loginsesion").click();
		  }
		});
	});
</script>