<%- include('../primary/onHeadLogin', { data: data }); -%>
<%
    var municipios = ["Acatlán","Acaxochitlán","Actopan","Agua Blanca de Iturbide","Ajacuba","Alfajayucan","Almoloya","Apan","El Arenal","Atitalaquia","Atlapexco","Atotonilco el Grande","Atotonilco de Tula","Calnali","Cardonal","Cuautepec de Hinojosa","Chapantongo","Chapulhuacán","Chilcuautla","Eloxochitlán","Emiliano Zapata","Epazoyucan","Franciso I. Madero","Huasca de Ocampo","Huautla","Huazalingo","Huehuetla","Huejutla de Reyes","Huichapan","Ixmiquilpan","Jacala de Ledezma","Jaltocán","Juárez Hidalgo","Lolotla","Metepec","San Agustín Metzquititlán","Metztitlán","Mineral del Chico","Mineral del Monte","La Misión","Mixquiahuala de Juárez","Molango de Escamilla","Nicolás Flores","Nopala de Villagrán","Omitlán de Juárez","San Felipe Orizatlán","Pacula","Pachuca de Soto","Pisaflores","Progreso de Obregón","Mineral de la Reforma","San Agustín Tlaxiaca","San Bartolo Tutotepec","San Salvador","Santiago de Anaya","Santiago Tulantepec de Lugo Guerrero","Singuilucan","Tasquillo","Tecozautla","Tenango de Doria","Tepeapulco","Tepehuacán de Guerrero","Tepeji del Río de Ocampo","Tepetitlán","Tetepango","Villa de Tezontepec","Tezontepec de Aldama","Tianguistengo","Tizayuca","Tlahuelilpan","Tlahuiltepa","Tlanalapa","Tlanchinol","Tlaxcoapan","Tolcayuca","Tula de Allende","Tulancingo de Bravo","Xochiatipan","Xochicoatlán","Yahualica","Zacualtipán de Ángeles","Zapotlán de Juárez","Zempoala","Zimapán"];

    var opciones = ["No", "Si"];
    var proceso = ["No", "Si", "En trámite"];
    var tipos = ["Premio", "Recomendación", "Certificación", "Reconocimiento", "Otro"];
    var categoria = [
        {
            persona:"Soy una persona física",
            tipo:["Colectivos","Líderes Sociales", "Empresas Sociales"]
        },
        {
            persona:"Soy una OSC",
            tipo:["Asistencia Social", "Desarrollo Comunitario"]
        }
    ]
%>
    <div class="container-fluid registro">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title">Premio a la Innovación Social</h1>
                <hr/>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group col-md-12 col-12">
                            <h4 class="subtitle">De la nominación</h4>
                        </div>
                        <div class="Nombre form-group col-md-12 col-12">
                            <label for="nombreorganizacion"><span style="color:red; font-size: 25px;">*</span>Nombre de la organización</label>
                            <input type="text" class="form-control" id="nombreorganizacion"  value="<%= data.user.nombreorg  %>" placeholder="Nombre de la organización" readonly />
                        </div>
                         <div class="Ncluni form-group col-md-12 col-12">
                            <label for="nocluniorganizacion"><span style="color:red; font-size: 25px;">*</span>Número de CLUNI</label>
                            <input type="text" class="form-control" id="nocluniorganizacion"  value="<%= (data.premio)? data.premio.nocluniorganizacion:""%>" placeholder="Número de CLUNI" readonly/>
                        </div>
                        <div class="Nombre form-group col-md-12 col-12">
                            <label for="rfcorganizacion"><span style="color:red; font-size: 25px;">*</span>RFC de la organización</label>
                            <input type="text" class="form-control" id="rfcorganizacion"  value="<%= (data.premio)?data.premio.rfcorganizacion: data.user.rfcorg  %>" placeholder="RFC de la organización" readonly/>
                        </div>
                         <div class="Correo form-group col-md-12 col-12">
                            <label for="correoorganizacion"><span style="color:red; font-size: 25px;">*</span>Correo electrónico</label>
                            <input type="text" class="form-control" id="correoorganizacion" placeholder="Correo electrónico" value="<%= data.user.correoorg%>" readonly/>
                        </div>
                        <div class="Donataria form-group col-md-12 col-12">
                            <label for="donatariaorganizacion"><span style="color:red; font-size: 25px;">*</span>¿Cuenta con donataria autorizada?</label>
                            <select class="form-control" id="donatariaorganizacion">
                              <% opciones.forEach(function(opciones, i){ var selected="" ; if(data.premio){
                               if(data.premio.donatariaorganizacion==opciones){ selected="selected" } } %>
                                '<option value="<%= i %>" <%=selected %>><%= opciones %></option>'+
                              <% }) %>
                            </select>
                        </div>
                        <div class="Fechaconst form-group col-md-12 col-12">
                            <label for="constitucionorganizacion"><span style="color:red; font-size: 25px;">*</span>Fecha de constitución</label>
                            <input type="date" class="form-control datapicker" id="constitucionorganizacion" placeholder="Fecha de constitución"  value="<%=(data.premio)? new Date(Number(data.premio.constitucionorganizacion)).getFullYear():"yyyy"%>-<%= (data.premio)?(new Date(Number(data.premio.constitucionorganizacion)).getMonth() + 1<10)?'0'+(new Date(Number(data.premio.constitucionorganizacion)).getMonth() + 1):(new Date(Number(data.premio.constitucionorganizacion)).getMonth() + 1):"mm" %>-<%= (data.premio)?new Date(Number(data.premio.constitucionorganizacion)).getDate():"dd" %>"/>
                        </div>
                        <div class="Telefono form-group col-md-12 col-12">
                            <label for="telefonoorganizacion"><span style="color:red; font-size: 25px;">*</span>Teléfono</label>
                            <input type="text" class="form-control" id="telefonoorganizacion" placeholder="Teléfono" value="<%= (data.premio)? data.premio.telefonoorganizacion:""%>"/>
                        </div>
                        <div class="Pagina form-group col-md-12 col-12">
                            <label for="paginaorganizacion">Página web</label>
                            <input type="text" class="form-control" id="paginaorganizacion" placeholder="Página web" value="<%= (data.premio)? data.premio.paginaorganizacion:""%>"/>
                        </div>
                        <div class="Facebook form-group col-md-12 col-12">
                            <label for="facebookorganizacion"><span style="color:red; font-size: 25px;">*</span>Facebook</label>
                            <input type="text" class="form-control" id="facebookorganizacion" placeholder="Facebook" value="<%= (data.premio)? data.premio.facebookorganizacion:""%>"/>
                        </div>
                        <div class="Otrared form-group col-md-12 col-12">
                            <label for="otraredorganizacion"><span style="color:red; font-size: 25px;">*</span>Otra red social</label>
                            <input type="text" class="form-control" id="otraredorganizacion" placeholder="Otra red social" value="<%= (data.premio)? data.premio.otraredorganizacion:""%>"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="Npersonas form-group col-md-12 col-12">
                            <label for="nopersonasorganizacion"><span style="color:red; font-size: 25px;">*</span>Número de personas que laboran en tu organización</label>
                            <input type="text" class="form-control" id="nopersonasorganizacion" placeholder="Número de personas que laboran en tu organización" onkeypress="return justNumbers(event);" value="<%= (data.premio)? data.premio.nopersonasorganizacion:""%>"/>
                        </div>
                        <div class="Voluntarios form-group col-md-12 col-12">
                            <label for="voluntariosorganizacion"><span style="color:red; font-size: 25px;">*</span>Número de voluntarios</label>
                            <input type="text" class="form-control" id="voluntariosorganizacion" placeholder="Número de voluntarios" onkeypress="return justNumbers(event);" value="<%= (data.premio)? data.premio.voluntariosorganizacion:""%>"/>
                        </div>
                        <div class="Mision form-group col-md-12 col-12">
                            <label for="misionorganizacion"><span style="color:red; font-size: 25px;">*</span>Misión</label>
                            <textarea rows="5" cols="100" id="misionorganizacion" maxlength="5000" style=" width: 100%; min-height: 100px; max-height: 200px"><%= (data.premio)? data.premio.misionorganizacion:""%></textarea>
                        </div>
                        <div class="Vision form-group col-md-12 col-12">
                            <label for="visionorganizacion"><span style="color:red; font-size: 25px;">*</span>Visión</label>
                            <textarea rows="5" cols="100" id="visionorganizacion" maxlength="5000" style=" width: 100%; min-height: 100px; max-height: 200px"><%= (data.premio)? data.premio.visionorganizacion:""%></textarea>
                        </div>
                        <div class="Junta form-group col-md-12 col-12">
                            <label for="juntaorganizacion"><span style="color:red; font-size: 25px;">*</span>Estas registrado en la Junta General de Asistencia del estado de Hidalgo</label>
                            <select class="form-control" id="juntaorganizacion">
                              <% opciones.forEach(function(option, i){ var selected="" ; if(data.premio){ if(data.premio.juntaorganizacion==option){
                                selected="selected" } } %>
                                '<option value="<%= i %>" <%=selected %>><%= option %>
                                </option>'+
                              <% }) %>
                            </select>
                        </div>
                        <div class="Objetivo form-group col-md-12 col-12">
                            <label for="objetivoorganizacion"><span style="color:red; font-size: 25px;">*</span>Objetivo social</label>
                            <textarea rows="5" cols="100" id="objetivoorganizacion" maxlength="1000" style=" width: 100%; min-height: 100px; max-height: 200px" placeholder="Máximo 100 caracteres"><%= (data.premio)? data.premio.objetivoorganizacion:""%></textarea>
                        </div>
                    </div>
                </div>
                <% if(data.premio){%>
                  <div class="col-md-3" style="margin-bottom: 20px;">
                    <button class="btn btn-success btn-lg btn-block" id="back">Regresar</button>
                  </div>
                <% }else{%>
                  <div class="col-md-3" style="margin-bottom: 20px;">
                    <button class="btn btn-success btn-lg btn-block" id="savereward">Guardar</button>
                  </div>
                <% }%>
            </div>
        </div>
        
    </div>
<script type="text/javascript">
function justNumbers(e) {
  var keynum = window.event ? window.event.keyCode : e.which;
  if ((keynum == 8) || (keynum == 46) || (keynum == 45))
    return true;
    return /\d/.test(String.fromCharCode(keynum));
}

$("#savereward").click(function(){
  var validaciones = ['nombreorganizacion', 'rfcorganizacion', 'correoorganizacion', 'donatariaorganizacion', 'constorg', 'arrayconstorg', 'constitucionorganizacion', 'telefonoorganizacion', 'paginaorganizacion', 'facebookorganizacion', 'otraredorganizacion', 'nopersonasorganizacion', 'voluntariosorganizacion', 'misionorganizacion', 'visionorganizacion', 'juntaorganizacion', 'objetivoorganizacion'];
  var opcionesArray = "<%- opciones %>".split(",");
  var camposvacios = [];
  var nombreorganizacion = $("#nombreorganizacion").val();
  var nocluniorganizacion = $("#nocluniorganizacion").val();
  var rfcorganizacion = $("#rfcorganizacion").val();
  var correoorganizacion = $("#correoorganizacion").val();
  var donatariaorganizacion = $("#donatariaorganizacion").val();
  var constorg = $('#constitucionorganizacion').val();
  var arrayconstorg = constorg.split("-").join("/");
  var constitucionorganizacion = Number(new Date(arrayconstorg));
  var telefonoorganizacion = $("#telefonoorganizacion").val();
  var paginaorganizacion = $("#paginaorganizacion").val();
  var facebookorganizacion = $("#facebookorganizacion").val();
  var otraredorganizacion = $("#otraredorganizacion").val();
  var nopersonasorganizacion = $("#nopersonasorganizacion").val();
  var voluntariosorganizacion = $("#voluntariosorganizacion").val();
  var misionorganizacion = $("#misionorganizacion").val();
  var visionorganizacion = $("#visionorganizacion").val();
  var juntaorganizacion = $("#juntaorganizacion").val();
  var objetivoorganizacion = $("#objetivoorganizacion").val();

  var data = {
    nombreorganizacion: nombreorganizacion,
    nocluniorganizacion: nocluniorganizacion,
    rfcorganizacion: rfcorganizacion,
    correoorganizacion: correoorganizacion,
    donatariaorganizacion: opcionesArray[donatariaorganizacion],
    constitucionorganizacion: constitucionorganizacion,
    telefonoorganizacion: telefonoorganizacion,
    paginaorganizacion: paginaorganizacion,
    facebookorganizacion: facebookorganizacion,
    otraredorganizacion: otraredorganizacion,
    nopersonasorganizacion: nopersonasorganizacion,
    voluntariosorganizacion: voluntariosorganizacion,
    misionorganizacion: misionorganizacion,
    visionorganizacion: visionorganizacion,
    juntaorganizacion: opcionesArray[juntaorganizacion],
    objetivoorganizacion: objetivoorganizacion
  }

  console.log(data);

  if(data.nombreorganizacion != "" && data.rfcorganizacion != "" && data.correoorganizacion != "" && data.donatariaorganizacion != "" && data.constitucionorganizacion != "" && data.telefonoorganizacion != "" && data.paginaorganizacion != "" && data.facebookorganizacion != "" && data.otraredorganizacion != "" && data.nopersonasorganizacion != "" && data.voluntariosorganizacion != "" && data.misionorganizacion != "" && data.visionorganizacion != "" && data.juntaorganizacion != "" && data.objetivoorganizacion != ""){
    console.log("entro",data);
    $.ajax({
        type: "POST",
        url: "/nuevo/premio",
        data: data,
        success: (data) => {
          if (data.success) {
              Swal.fire({
                title: '',
                text: 'Registro guardado correctamente',
                icon: 'success'
              });
              setTimeout(()=>{
                  window.location.href = "/Bienvenido";
              window.scrollTo(0, 0);
              },3000)
          }
          if (data.error) {
              console.log(data);
              Swal({
                title: '¡Error!',
                text: 'Hubo un error al guardar su registro',
                type: 'error',
                confirmButtonText: 'Cerrar'
              });
          }
        }
      });
    }else{
      validaciones.forEach((campo) => {
        var value = $("#" + campo).val();
        if (value == "") {
          camposvacios.push(campo);
          $("#" + campo).css("background", "#FFA1A1");
          Swal.fire({
            title: '¡Error!',
            text: 'Verifique los campos requeridos',
            icon: 'error'
          });
        } else {
          $("#" + campo).css("background", "#FFF");
        }
      })
      console.log("Array_fields: ", validaciones);
      console.log("Check_empty_field: ", camposvacios);
    }
});

$("#back").click(()=>{
  window.location.href = "/Bienvenido";
})
</script>