<%- include('../primary/onHeadLogin', { data: data }); -%>
<%
    var edades = ["De 0 a 5 años", "De 5 a 15 años", "De 15 a 25 años", "De 25 a 60 años", "Más de 60 años"];
    var municipios = ["Acatlán","Acaxochitlán","Actopan","Agua Blanca de Iturbide","Ajacuba","Alfajayucan","Almoloya","Apan","El Arenal","Atitalaquia","Atlapexco","Atotonilco el Grande","Atotonilco de Tula","Calnali","Cardonal","Cuautepec de Hinojosa","Chapantongo","Chapulhuacán","Chilcuautla","Eloxochitlán","Emiliano Zapata","Epazoyucan","Franciso I. Madero","Huasca de Ocampo","Huautla","Huazalingo","Huehuetla","Huejutla de Reyes","Huichapan","Ixmiquilpan","Jacala de Ledezma","Jaltocán","Juárez Hidalgo","Lolotla","Metepec","San Agustín Metzquititlán","Metztitlán","Mineral del Chico","Mineral del Monte","La Misión","Mixquiahuala de Juárez","Molango de Escamilla","Nicolás Flores","Nopala de Villagrán","Omitlán de Juárez","San Felipe Orizatlán","Pacula","Pachuca de Soto","Pisaflores","Progreso de Obregón","Mineral de la Reforma","San Agustín Tlaxiaca","San Bartolo Tutotepec","San Salvador","Santiago de Anaya","Santiago Tulantepec de Lugo Guerrero","Singuilucan","Tasquillo","Tecozautla","Tenango de Doria","Tepeapulco","Tepehuacán de Guerrero","Tepeji del Río de Ocampo","Tepetitlán","Tetepango","Villa de Tezontepec","Tezontepec de Aldama","Tianguistengo","Tizayuca","Tlahuelilpan","Tlahuiltepa","Tlanalapa","Tlanchinol","Tlaxcoapan","Tolcayuca","Tula de Allende","Tulancingo de Bravo","Xochiatipan","Xochicoatlán","Yahualica","Zacualtipán de Ángeles","Zapotlán de Juárez","Zempoala","Zimapán"];
    var rango = ["De 0 a 5 años", "De 5 a 15 años", "De 15 a 25 años", "De 25 a 60 años", "Más de 60 años"]

%>
    <div class="container-fluid registro">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title">Proyecto</h1>
                <hr/>
                <div class="row">
                    <div class="col-md-6">
                        <div class="Proyecto form-group col-md-12 col-12">
                            <label for="nombreproyecto"><span style="color:red; font-size: 25px;">*</span>Nombre del proyecto</label>
                            <input type="text" class="form-control" id="nombreproyecto" placeholder="Nombre del proyecto" value="<%= (data.proy)?data.proy.nombre:"" %>"/>
                        </div>
                        <div class="Proyecto form-group col-md-12 col-12">
                            <label for="rangoproyecto"><span style="color:red; font-size: 25px;">*</span>Rango de edades de tus beneficiarios</label>
                            <select class="form-control" id="rangoproyecto">
                              <% rango.forEach(function(option, i){
                                var selected="" ;
                                if(data.proy){ if(data.proy.rango==option){
                                    selected="selected"
                                } } %>
                                <option value="<%= i %>" <%=selected %>><%= option %>
                                </option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="Proyecto form-group col-md-12 col-12">
                            <label for="comunidadproyecto"><span style="color:red; font-size: 25px;">*</span>Comunidades</label>
                            <input type="text" class="form-control" id="comunidadproyecto" placeholder="Comunidades" value="<%= (data.proy)?data.proy.comunidades.toString():"" %>"/>
                            <small>Separar por comas</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="Proyecto form-group col-md-12 col-12">
                            <label for="beneficiariosproyecto"><span style="color:red; font-size: 25px;">*</span>Describe tus beneficiarios directos</label>
                            <input type="text" class="form-control" id="beneficiariosproyecto" placeholder="Describe tus beneficiarios directos" value="<%= (data.proy)?data.proy.beneficiario:"" %>"/>
                        </div>
                        <div class="Proyecto form-group col-md-12 col-12">
                            <label for="municipioproyecto"><span style="color:red; font-size: 25px;">*</span>Municipio donde se desarrolla tu proyecto</label>
                            <select class="form-control" id="municipioproyecto">
                              <% municipios.forEach(function(option, i){
                                var selected="" ;
                                if(data.proy){ if(data.proy.municipio==option){
                                    selected="selected"
                                } } %>
                                <option value="<%= i %>" <%=selected %>><%= option %>
                                </option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="Proyecto form-group col-md-12 col-12">
                            <label for="descripcionproyecto"><span style="color:red; font-size: 25px;">*</span>Descripción de tu proyecto</label>
                             <textarea rows="5" cols="100" id="descripcionproyecto" maxlength="1000" style=" width: 100%; min-height: 100px; max-height: 200px" placeholder="Máximo 1,000 palabras"><%=(data.proy)? data.proy.descripcion:"" %></textarea>
                        </div>
                    </div>  
                </div>
               
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group col-md-12 col-12">
                            <h4 class="subtitle">Selecciona las áreas de atención</h4>
                        </div>
                        <div class="Proyecto form-group col-md-12 col-12">
                            <i class="fas fa-square"></i><span class="actividad-subtitle">Desarrollo Integral Comunitario</span>
                            <div class="col-md-12 item">
                                <input type="checkbox" name="actividad1" value="actividad1" id="actividad1" <%=(data.proy?(data.proy.actividades[0]==true ?"checked":""):"")%>>Apoyo para el desarrollo de los pueblos y comunidades indígenas.</br>
                                <input type="checkbox" name="actividad2" value="actividad2" id="actividad2" <%=(data.proy?(data.proy.actividades[1]==true ?"checked":""):"")%>>Cooperación para el desarrollo comunitario en el entorno urbano o rural.</br>
                                <input type="checkbox" name="actividad3" value="actividad3" id="actividad3" <%=(data.proy?(data.proy.actividades[2]==true ?"checked":""):"")%>>Promoción y aportación de servicios para la atención de la salud y cuestiones sanitarias.</br>
                                <input type="checkbox" name="actividad4" value="actividad4" id="actividad4" <%=(data.proy?(data.proy.actividades[3]==true ?"checked":""):"")%>>Apoyo en el aprovechamiento de los recursos naturales, la protección del ambiente, la flora y la fauna, la preservación y restauración del equilibrio ecológico, así como la promoción del desarrollo sustentable a nivel regional y comunitario, de las zonas urbanas y rurales.</br>
                                <input type="checkbox" name="actividad5" value="actividad5" id="actividad5" <%=(data.proy?(data.proy.actividades[4]==true ?"checked":""):"")%>>Fomento de acciones para mejorar la economía popular.
                            </div>
                        </div>
                        <div class="Proyecto form-group col-md-12 col-12">
                            <i class="fas fa-square"></i><span class="actividad-subtitle">Participación social y ciudadana</span>
                            <div class="col-md-12 item">
                                <input type="checkbox" name="actividad6" value="actividad6" id="actividad6" <%=(data.proy?(data.proy.actividades[5]==true ?"checked":""):"")%>>Cívicas, enfocadas a promover la participación ciudadana en asuntos de interés público.</br>
                                <input type="checkbox" name="actividad7" value="actividad7" id="actividad7" <%=(data.proy?(data.proy.actividades[6]==true ?"checked":""):"")%>>Prestación de servicios de apoyo a la creación y fortalecimiento de organizaciones que realicen otras Organizaciones de la Sociedad Civil.</br>
                                <input type="checkbox" name="actividad8" value="actividad8" id="actividad8" <%=(data.proy?(data.proy.actividades[7]==true ?"checked":""):"")%>>Promoción y defensa de los derechos de los consumidores.</br>
                            </div>
                        </div>
                        <div class="Proyecto form-group col-md-12 col-12">
                            <i class="fas fa-square"></i><span class="actividad-subtitle">Asistencia social</span>
                            <div class="col-md-12 item">
                                <input type="checkbox" name="actividad9" value="actividad9" id="actividad9" <%=(data.proy?(data.proy.actividades[8]==true ?"checked":""):"")%>>Asistencia Social, conforme a lo establecido en la Ley de Asistencia Social del estado de Hidalgo.</br>
                                <input type="checkbox" name="actividad10" value="actividad10" id="actividad10" <%=(data.proy?(data.proy.actividades[9]==true ?"checked":""):"")%>>Apoyo a la alimentación popular.</br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="Proyecto form-group col-md-12 col-12" style="margin-top: 42px">
                            <i class="fas fa-square"></i><span class="actividad-subtitle">Igualdad de género</span>
                            <div class="col-md-12 item">
                                <input type="checkbox" name="actividad11" value="actividad11" id="actividad11" <%=(data.proy?(data.proy.actividades[10]==true ?"checked":""):"")%>>Promoción de la igualdad de género.
                            </div>
                        </div>
                        <div class="Proyecto form-group col-md-12 col-12">
                            <i class="fas fa-square"></i><span class="actividad-subtitle">Derechos Humanos, Sociedad incluyente y cohesión social</span>
                            <div class="col-md-12 item">
                                <input type="checkbox" name="actividad12" value="actividad12" id="actividad12" <%=(data.proy?(data.proy.actividades[11]==true ?"checked":""):"")%>>Apoyo en la defensa y promoción de los derechos humanos.</br>
                                <input type="checkbox" name="actividad13" value="actividad13" id="actividad13" <%=(data.proy?(data.proy.actividades[12]==true ?"checked":""):"")%>>Aportación de servicios para la atención a grupos sociales con discapacidad.</br>
                                <input type="checkbox" name="actividad14" value="actividad14" id="actividad14" <%=(data.proy?(data.proy.actividades[13]==true ?"checked":""):"")%>>Acciones que promuevan el fortalecimiento del tejido social y la seguridad ciudadana.</br>
                                <input type="checkbox" name="actividad15" value="actividad15" id="actividad15" <%=(data.proy?(data.proy.actividades[14]==true ?"checked":""):"")%>>Asistencia jurídica.</br>
                            </div>
                        </div>
                        <div class="Proyecto form-group col-md-12 col-12">
                            <i class="fas fa-square"></i><span class="actividad-subtitle">Promoción de actividades culturales, científicas y deportivas</span>
                            <div class="col-md-12 item">
                                <input type="checkbox" name="actividad16" value="actividad16" id="actividad16" <%=(data.proy?(data.proy.actividades[15]==true ?"checked":""):"")%>>Promoción del deporte.</br>
                                <input type="checkbox" name="actividad17" value="actividad17" id="actividad17" <%=(data.proy?(data.proy.actividades[16]==true ?"checked":""):"")%>>Promoción y fomento educativo, cultural, artístico, científico y tecnológico.
                            </div>
                        </div>
                        <div class="Proyecto form-group col-md-12 col-12">
                            <i class="fas fa-square"></i><span class="actividad-subtitle">Protección civil</span>
                            <div class="col-md-12 item">
                                <input type="checkbox" name="actividad18" value="actividad18" id="actividad18" <%=(data.proy?(data.proy.actividades[17]==true ?"checked":""):"")%>>Participación en acciones de protección civil.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 20px;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group col-md-12">
                            <h4 class="subtitle">Selecciona los Objetivos de Desarrollo Sostenible en los que tu proyecto incide.</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo1" value="objetivo1" id="objetivo1" <%=(data.proy?(data.proy.objetivos[0]==true ?"checked":""):"")%>></br>
                                <img src="/img/objetivo1.png" alt="objetivo1" height="150px" width="150px">
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo2" value="objetivo2" id="objetivo2" <%=(data.proy?(data.proy.objetivos[1]==true ?"checked":""):"")%>></br>
                                <img src="/img/objetivo2.png" alt="objetivo2" height="150px" width="150px">
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo3" value="objetivo3" id="objetivo3" <%=(data.proy?(data.proy.objetivos[2]==true ?"checked":""):"")%>></br>
                                <img src="/img/objetivo3.png" alt="objetivo3" height="150px" width="150px">
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo4" value="objetivo4" id="objetivo4" <%=(data.proy?(data.proy.objetivos[3]==true ?"checked":""):"")%>></br>
                                <img src="/img/objetivo4.png" alt="objetivo4" height="150px" width="150px">
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo5" value="objetivo5" id="objetivo5" <%=(data.proy?(data.proy.objetivos[4]==true ?"checked":""):"")%>></br>
                                <img src="/img/objetivo5.png" alt="objetivo5" height="150px" width="150px">
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo6" value="objetivo6" id="objetivo6" <%=(data.proy?(data.proy.objetivos[5]==true ?"checked":""):"")%>></br>
                                <img src="/img/objetivo6.png" alt="objetivo6" height="150px" width="150px">
                            </div>   
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo7" value="objetivo7" id="objetivo7" <%=(data.proy?(data.proy.objetivos[6]==true ?"checked":""):"")%>></br>
                                <img src="/img/objetivo7.png" alt="objetivo7" height="150px" width="150px">
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo8" value="objetivo8" id="objetivo8" <%=(data.proy?(data.proy.objetivos[7]==true ?"checked":""):"")%>></br>
                                <img src="/img/objetivo8.png" alt="objetivo8" height="150px" width="150px">
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo9" value="objetivo9" id="objetivo9" <%=(data.proy?(data.proy.objetivos[8]==true ?"checked":""):"")%>></br>
                                <img src="/img/objetivo9.png" alt="objetivo9" height="150px" width="150px">
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo10" value="objetivo10" id="objetivo10" <%=(data.proy?(data.proy.objetivos[9]==true ?"checked":""):"")%>></br>
                                <img src="/img/objetivo10.png" alt="objetivo10" height="150px" width="150px">
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo11" value="objetivo11" id="objetivo11" <%=(data.proy?(data.proy.objetivos[10]==true ?"checked":""):"")%>></br>
                                <img src="/img/objetivo11.png" alt="objetivo11" height="150px" width="150px">
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo12" value="objetivo12" id="objetivo12" <%=(data.proy?(data.proy.objetivos[11]==true ?"checked":""):"")%>></br>
                                <img src="/img/objetivo12.png" alt="objetivo12" height="150px" width="150px">
                            </div>    
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo13" value="objetivo13" id="objetivo13" <%=(data.proy?(data.proy.objetivos[12]==true ?"checked":""):"")%>></br>
                                <img src="/img/objetivo13.png" alt="objetivo13" height="150px" width="150px">
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo14" value="objetivo14" id="objetivo14" <%=(data.proy?(data.proy.objetivos[13]==true ?"checked":""):"")%>></br>
                                <img src="/img/objetivo14.png" alt="objetivo14" height="150px" width="150px">
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo15" value="objetivo15" id="objetivo15" <%=(data.proy?(data.proy.objetivos[14]==true ?"checked":""):"")%>></br>
                                <img src="/img/objetivo15.png" alt="objetivo15" height="150px" width="150px">
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo16" value="objetivo16" id="objetivo16" <%=(data.proy?(data.proy.objetivos[15]==true ?"checked":""):"")%>></br>
                                <img src="/img/objetivo16.png" alt="objetivo16" height="150px" width="150px">
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo17" value="objetivo17" id="objetivo17" <%=(data.proy?(data.proy.objetivos[16]==true ?"checked":""):"")%>></br>
                                <img src="/img/objetivo17.png" alt="objetivo17" height="150px" width="150px">
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <input type="checkbox" name="objetivo18" value="objetivo18" id="objetivo18" <%=(data.proy?(data.proy.objetivos[17]==true ?"checked":""):"")%> style="display:none"></br>
                                <img src="/img/objetivo18.png" alt="objetivo18" height="150px" width="150px">
                            </div>                    
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-6 col-6">
                            <h4 class="subtitle" style="margin-top:10px">Presupuesto</h4>
                        </div>
                    </div>
                    <div id="Conceptos" class="col-md-12 col-12"></div>
                    <div class="row">
                        <div class="Concepto form-group col-md-6 col-6">
                            <button id="addConcepto" type="button" class="btn btn-outline-secondary btn-sm btn-block">Agregar concepto</button>
                        </div>
                    </div>
                </div>
                <% if(data.proy){%>
                  <div class="col-md-3" style="margin-bottom: 20px;">
                    <button class="btn btn-success btn-lg btn-block" id="back" onclick="window.location.href='/Bienvenido'">Regresar</button>
                  </div>
                <% }else{%>
                  <div class="col-md-3" style="margin-bottom: 20px;">
                    <button class="btn btn-success btn-lg btn-block" id="save">Enviar</button>
                  </div>
                <% }%>
            </div>
        </div>
    </div>
    <script>
    
    $(document).ready(function(){
        <% if(data.proy == undefined){%>
            $("#addConcepto").trigger("click");
        <%} %>
    });

    var views = { concepto: []};
    var edadesArray = "<%- edades %>".split(",");
    var municipiosArray = "<%- municipios %>".split(",");

    $("#save").click(function(){
        var validaciones = ["nombreproyecto", "rangoproyecto", "comunidadproyecto", "beneficiariosproyecto", "municipioproyecto", "descripcionproyecto"];
        var camposvacios = [];
        var GruposConceptos = [];
        var GruposConceptosVacias = []
        var nombreproyecto = $("#nombreproyecto").val();
        var rangoproyecto = $("#rangoproyecto").val();
        var comunidadproyecto = $("#comunidadproyecto").val().split(',');
        var beneficiariosproyecto = $("#beneficiariosproyecto").val();
        var municipioproyecto = $("#municipioproyecto").val();
        var descripcionproyecto = $("#descripcionproyecto").val();
        var actividad1 = $('#actividad1').prop('checked');
        var actividad2 = $('#actividad2').prop('checked');
        var actividad3 = $('#actividad3').prop('checked');
        var actividad4 = $('#actividad4').prop('checked');
        var actividad5 = $('#actividad5').prop('checked');
        var actividad6 = $('#actividad6').prop('checked');
        var actividad7 = $('#actividad7').prop('checked');
        var actividad8 = $('#actividad8').prop('checked');
        var actividad9 = $('#actividad9').prop('checked');
        var actividad10 = $('#actividad10').prop('checked');
        var actividad11 = $('#actividad11').prop('checked');
        var actividad12 = $('#actividad12').prop('checked');
        var actividad13 = $('#actividad13').prop('checked');
        var actividad14 = $('#actividad14').prop('checked');
        var actividad15 = $('#actividad15').prop('checked');
        var actividad16 = $('#actividad16').prop('checked');
        var actividad17 = $('#actividad17').prop('checked');
        var actividad18 = $('#actividad18').prop('checked');
        var objetivo1 = $('#objetivo1').prop('checked');
        var objetivo2 = $('#objetivo2').prop('checked');
        var objetivo3 = $('#objetivo3').prop('checked');
        var objetivo4 = $('#objetivo4').prop('checked');
        var objetivo5 = $('#objetivo5').prop('checked');
        var objetivo6 = $('#objetivo6').prop('checked');
        var objetivo7 = $('#objetivo7').prop('checked');
        var objetivo8 = $('#objetivo8').prop('checked');
        var objetivo9 = $('#objetivo9').prop('checked');
        var objetivo10 = $('#objetivo10').prop('checked');
        var objetivo11 = $('#objetivo11').prop('checked');
        var objetivo12 = $('#objetivo12').prop('checked');
        var objetivo13 = $('#objetivo13').prop('checked');
        var objetivo14 = $('#objetivo14').prop('checked');
        var objetivo15 = $('#objetivo15').prop('checked');
        var objetivo16 = $('#objetivo16').prop('checked');
        var objetivo17 = $('#objetivo17').prop('checked');
        var objetivo18 = $('#objetivo18').prop('checked');
        var productoconcepto = $("#productoconcepto").val();
        var caracteristicaconcepto = $("#caracteristicaconcepto").val();
        var cotizacionconcepto = $("#cotizacionconcepto").val();
        var cantidadconcepto = $("#cantidadconcepto").val();
        var costoconcepto = $("#costoconcepto").val();

        views.concepto.forEach(function(conc, i) {
            GruposConceptos.push(conc.JSON());
        });              

        GruposActividades = [
            actividad1,actividad2,actividad3,actividad4,actividad5,
            actividad6,actividad7,actividad8,actividad9,actividad10,
            actividad11,actividad12,actividad13,actividad14,actividad15,
            actividad16,actividad17,actividad18
        ];

        GruposObjetivos = [
            objetivo1,objetivo2,objetivo3,objetivo4,objetivo5,
            objetivo6,objetivo7,objetivo8,objetivo9,objetivo10,
            objetivo11,objetivo12,objetivo13,objetivo14,objetivo15,
            objetivo16,objetivo17,objetivo18
        ];


        var totalConceptos = GruposConceptos.length;
        if (totalConceptos > 0) {
          for(var i = 0; i<=totalConceptos-1; i++){
            if(GruposConceptos[i].producto == "" || GruposConceptos[i].cantidad == "" || GruposConceptos[i].caracteristica == "" || GruposConceptos[i].costo_total == ""){
              GruposConceptosVacias.push(GruposConceptos[i]);
              if(GruposConceptos[i].producto == ""){
                $("#productoconcepto"+i).css("background", "#FFA1A1");
                Swal.fire({
                  title: '¡Error!',
                  text: 'Verifique los campos requeridos',
                  icon: 'error'
                });
              }else{
                $("#productoconcepto"+i).css("background", "#FFF");
              }
              if(GruposConceptos[i].cantidad == ""){
                $("#cantidadconcepto"+i).css("background", "#FFA1A1");
                Swal.fire({
                  title: '¡Error!',
                  text: 'Verifique los campos requeridos',
                  icon: 'error'
                });
              }else{
                $("#cantidadconcepto"+i).css("background", "#FFF");
              }
              if(GruposConceptos[i].caracteristica == ""){
                $("#caracteristicaconcepto"+i).css("background", "#FFA1A1");
                Swal.fire({
                  title: '¡Error!',
                  text: 'Verifique los campos requeridos',
                  icon: 'error'
                });
              }else{
                $("#caracteristicaconcepto"+i).css("background", "#FFF");
              }
              if(GruposConceptos[i].costo_total == ""){
                $("#costoconcepto"+i).css("background", "#FFA1A1");
                Swal.fire({
                  title: '¡Error!',
                  text: 'Verifique los campos requeridos',
                  icon: 'error'
                });
              }else{
                $("#costoconcepto"+i).css("background", "#FFF");
              }
            }
          }
          console.log("Check_concept:", GruposConceptosVacias);
        }



        var data = {
            nombre: nombreproyecto,
            beneficiario: beneficiariosproyecto,
            rango: edadesArray[rangoproyecto],
            municipio: municipiosArray[municipioproyecto],
            comunidades: comunidadproyecto,
            descripcion: descripcionproyecto,
            actividades: GruposActividades,
            objetivos: GruposObjetivos,
            conceptos: GruposConceptos
        } 
     

        if(nombreproyecto != "" && rangoproyecto != "" && comunidadproyecto != "" && beneficiariosproyecto != "" && municipioproyecto != "" && descripcionproyecto != "" && GruposConceptosVacias.length==0 ){
            $.ajax({
            type: "POST",
            url: "/nuevo/proyecto",
            data: data,
            success: (data) => {
                if (data.success) {
                    Swal.fire({
                      title: '',
                      text: 'Registro guardado correctamente',
                      icon: 'success'
                    });
                    setTimeout(()=>{
                        window.location.href="/Bienvenido"
                    window.scrollTo(0, 0);
                    },3000)
                }
                if (data.error) {
                    console.log(data);
                    Swal.fire({
                      title: '¡Error!',
                      text: 'Hubo un error al guardar Trámite',
                      icon: 'error'
                    });
                }
            }
        });
        }else{
            validaciones.forEach((campo) => {
                var value = $("#" + campo).val();
                if (value == "") {
                    camposvacios.push(campo);
                    $("#" + campo).css("background", "#FFA1A1");
                    Swal.fire({
                      title: '¡Error!',
                      text: 'Verifique los campos requeridos',
                      icon: 'error'
                    });
                  } else {
                    $("#" + campo).css("background", "#FFF");
                  }
              })
              console.log("Array_fields: ", validaciones);
              console.log("Check_empty_field: ", camposvacios);
        }
         
    });


    class Concepto{
        constructor(deleteFunc, i){
            var self = this;
            this.i = i;
            this.content = $('<div class="row">'+
                        '<div class="col-md-6">'+
                            '<div class="Concepto form-group col-md-12 col-12">'+
                                '<label for="productoconcepto"><span style="color:red; font-size: 25px;">*</span>Producto</label>'+
                                '<input type="text" class="form-control" id="productoconcepto'+i+'" placeholder="Producto"/>'+
                            '</div>'+
                            '<div class="Concepto form-group col-md-12 col-12">'+
                                '<label for="caracteristicaconcepto"><span style="color:red; font-size: 25px;">*</span>Característica</label>'+
                                '<input type="text" class="form-control" id="caracteristicaconcepto'+i+'" placeholder="Máximo 30 palabras"/>'+
                            '</div>'+
                            '<div class="Concepto cotizacionconcepto'+i+' form-group col-md-12 col-12">'+
                                '<label for="cotizacionconcepto"><span style="color:red; font-size: 25px;">*</span>Cotización</label>'+
                                '<input type="file" class="form-control" id="cotizacionconcepto'+i+'" name="cotizacionconcepto"/>'+
                            '</div>'+
                            '<div class="Concepto verarchivo'+i+' form-group col-md-12 col-12" style="display: none">'+
                                '<label for="cotizacionconcepto"><span style="color:red; font-size: 25px;">*</span>Cotización</label></br>'+
                            '</div>'+
                        '</div>'+
                        '<div class="col-md-6">'+
                            '<div class="Concepto form-group col-md-12 col-12">'+
                                '<label for="cantidadconcepto"><span style="color:red; font-size: 25px;">*</span>Cantidad</label>'+
                                '<input type="text" class="form-control" id="cantidadconcepto'+i+'" placeholder="Cantidad" onkeypress="return justNumbers(event);"/>'+
                            '</div>'+
                            '<div class="Concepto form-group col-md-12 col-12">'+
                                '<label for="costoconcepto"><span style="color:red; font-size: 25px;">*</span>Costo total</label>'+
                                '<input type="text" class="form-control" id="costoconcepto'+i+'" placeholder="Costo total" onkeypress="return justNumbers(event);"/>'+
                            '</div>'+
                        '</div>'+
                    '</div>'
                );

            this.content.find("#deleteconcepto").click(function() {
                deleteFunc(i);
            });

            var ifile = this.content.find("#cotizacionconcepto"+i)[0];
            ifile.addEventListener("change", () => {
                self.SubirArchivo("nuevo", ifile, (nombre) => {
                    ifile.setAttribute("data", nombre);
                });
            });


        }
        html(){
            return this.content;
        }
        JSON(){
            const obj = {
                producto: this.content.find("#productoconcepto"+this.i).val(),
                cantidad: this.content.find("#cantidadconcepto"+this.i).val(),
                caracteristica: this.content.find("#caracteristicaconcepto"+this.i).val(),
                costo_total: this.content.find("#costoconcepto"+this.i).val(),
                archivo: this.content.find("#cotizacionconcepto"+this.i)[0].getAttribute("data")
            };

            return obj;
                
        };

        SubirArchivo(_id, input, callback){
            var archivo = input.files[0];
            var extension = (archivo.name).split(".")[1];
            var data = new FormData();
            data.append('archivo', archivo);
            var opts = {
                url: '/subir/archivo/'+_id+'/'+extension + '/' + (archivo.type.split("/").join("_")),
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                success: function(data){
                    callback(data.success);
                }
            };
            if(data.fake) {
                opts.xhr = function() {
                    var xhr = jQuery.ajaxSettings.xhr();
                    xhr.send = xhr.sendAsBinary;
                    return xhr;
                }
                opts.contentType = "multipart/form-data; boundary="+data.boundary;
                opts.data = data.toString();
            }
            $.ajax(opts);
        }
    }

    function justNumbers(e) {
        var keynum = window.event ? window.event.keyCode : e.which;
        if ((keynum == 8) || (keynum == 46) || (keynum == 45))
          return true;
        return /\d/.test(String.fromCharCode(keynum));
    }

    function Removeconcepto(i) {
        views.concepto[i].html().remove();
        views.concepto.splice(i, 1);
    }

    $('#addConcepto').click(function(){
        var newConcepto = new Concepto(Removeconcepto, views.concepto.length);
        views.concepto.push(newConcepto);
        $("#Conceptos").append(newConcepto.html());
    });

    </script>

<%  if(data.proy != undefined){
    data.proy.conceptos.forEach(function(concepto,j){
%>
    <script type="text/javascript">
        $('#addConcepto').trigger('click');
        $("#productoconcepto<%=j%>").val("<%=concepto.producto%>");
        $("#caracteristicaconcepto<%=j%>").val("<%=concepto.caracteristica%>");
        $("#cantidadconcepto<%=j%>").val("<%=concepto.cantidad%>");
        $("#costoconcepto<%=j%>").val("<%=concepto.costo_total%>");
        $(".cotizacionconcepto<%=j%>").css("display","none");
        $(".verarchivo<%=j%>").css("display","block");
        $('<a href="<%="http://localhost:8075/show/file/"+concepto.archivo%>" target="_blank">'+"Ver Archivo"+'</a>').appendTo($('.verarchivo<%= j %>'));

    </script>
<%
    })};
%>