<%- include('../primary/onHead', { data: data }); -%>
<link rel="stylesheet" type="text/css" href="/<%= data.name %>/css/index.css">
<script type="text/javascript" src="/<%= data.name %>/index.js"></script>
<%- include('../primary/onBody', { data: data }); -%>