<%- include('../primary/onHeadLogin', { data: data }); -%>
<%
	var municipios = ["Acatlán","Acaxochitlán","Actopan","Agua Blanca de Iturbide","Ajacuba","Alfajayucan","Almoloya","Apan","El Arenal","Atitalaquia","Atlapexco","Atotonilco el Grande","Atotonilco de Tula","Calnali","Cardonal","Cuautepec de Hinojosa","Chapantongo","Chapulhuacán","Chilcuautla","Eloxochitlán","Emiliano Zapata","Epazoyucan","Franciso I. Madero","Huasca de Ocampo","Huautla","Huazalingo","Huehuetla","Huejutla de Reyes","Huichapan","Ixmiquilpan","Jacala de Ledezma","Jaltocán","Juárez Hidalgo","Lolotla","Metepec","San Agustín Metzquititlán","Metztitlán","Mineral del Chico","Mineral del Monte","La Misión","Mixquiahuala de Juárez","Molango de Escamilla","Nicolás Flores","Nopala de Villagrán","Omitlán de Juárez","San Felipe Orizatlán","Pacula","Pachuca de Soto","Pisaflores","Progreso de Obregón","Mineral de la Reforma","San Agustín Tlaxiaca","San Bartolo Tutotepec","San Salvador","Santiago de Anaya","Santiago Tulantepec de Lugo Guerrero","Singuilucan","Tasquillo","Tecozautla","Tenango de Doria","Tepeapulco","Tepehuacán de Guerrero","Tepeji del Río de Ocampo","Tepetitlán","Tetepango","Villa de Tezontepec","Tezontepec de Aldama","Tianguistengo","Tizayuca","Tlahuelilpan","Tlahuiltepa","Tlanalapa","Tlanchinol","Tlaxcoapan","Tolcayuca","Tula de Allende","Tulancingo de Bravo","Xochiatipan","Xochicoatlán","Yahualica","Zacualtipán de Ángeles","Zapotlán de Juárez","Zempoala","Zimapán"].sort();

    var opciones = ["No", "Si"];
    var proceso = ["No", "Si", "En trámite"];
    var tipos = ["Premio", "Recomendación", "Certificación", "Reconocimiento", "Otro"];
%>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title">Datos Generales</h1>
                <hr/>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group col-md-12 col-12">
                            <h4 class="subtitle">De la Organización</h4>
                        </div>
                        <div class="Rfc form-group col-md-12 col-12">
                            <label for="rfcorganizacion"><span style="color:red; font-size: 25px;">*</span>RFC de la organización</label>
                            <input type="text" class="form-control" id="rfcorganizacion"  value="<%= (data.org)?data.org.rfc:data.user.rfcorg %>" readonly />
                        </div>
                        <div class="Nombre form-group col-md-12 col-12">
                            <label for="nombreorganizacion"><span style="color:red; font-size: 25px;">*</span>Nombre de la organización</label>
                            <input type="text" class="form-control" id="nombreorganizacion"   placeholder="Nombre de la organización" value="<%= (data.org)?data.org.nombre:data.user.nombreorg %>" readonly />
                        </div>
                        <div class="Descripcion form-group col-md-12 col-12">
                            <label for="descripcionorganizacion"><span style="color:red; font-size: 25px;">*</span>Descripción de la organización</label>
                            <input type="text" class="form-control" maxlength="250" id="descripcionorganizacion" placeholder="Descripción de la organización" value="<%= (data.org)?data.org.descripcion:"" %>"/>
                        </div>
                         <div class="Logo form-group col-md-12 col-12">
                            <label for="logotipo"><span style="color:red; font-size: 25px;">*</span>Logotipo</label>
                            <%if(data.org){%>
                                <p><a href="<%= (data.org)?" http://localhost:8075/show/file/"+data.org.logotipo:"" %>"
                      target=_blank>Ver Archivo</a></p>
                            <%}else{%>
                                <input type="file" class="form-control" id="logotipo"/>
                            <%}%>
                        </div>
                        <div class="Palabras form-group col-md-12 col-12">
                            <label for="palabrasclave"><span style="color:red; font-size: 25px;">*</span>Palabras clave</label>
                            <input type="text" class="form-control" id="palabrasclave" placeholder="Palabras clave" value="<%= (data.org)?data.org.palabras_claves.toString():"" %>"/>
                            <small>Separar las palabras por comas</small>
                        </div>
                         <div class="Foto form-group col-md-12 col-12">
                            <label for="foto_1"><span style="color:red; font-size: 25px;">*</span>Foto 1</label>
                             <%if(data.org){%>
                                <p><a href="<%= (data.org)?" http://localhost:8075/show/file/"+data.org.foto_1:"" %>"
                      target=_blank>Ver Archivo</a></p>
                            <%}else{%>
                                <input type="file" class="form-control" id="foto_1"/>
                            <%}%>
                        </div>
                         <div class="Foto form-group col-md-12 col-12">
                            <label for="foto_2"><span style="color:red; font-size: 25px;">*</span>Foto 2</label>
                            <%if(data.org){%>
                                <p><a href="<%= (data.org)?" http://localhost:8075/show/file/"+data.org.foto_2:"" %>"
                      target=_blank>Ver Archivo</a></p>
                            <%}else{%>
                                <input type="file" class="form-control" id="foto_2"/>
                            <%}%>
                        </div>
                         <div class="Foto form-group col-md-12 col-12">
                            <label for="foto_3"><span style="color:red; font-size: 25px;">*</span>Foto 3</label>
                            <%if(data.org){%>
                                <p><a href="<%= (data.org)?" http://localhost:8075/show/file/"+data.org.foto_3:"" %>"
                      target=_blank>Ver Archivo</a></p>
                            <%}else{%>
                                 <input type="file" class="form-control" id="foto_3"/>
                            <%}%>
                        </div>
                        <div class="Foto form-group col-md-12 col-12">
                            <label for="foto_4"><span style="color:red; font-size: 25px;">*</span>Foto 4</label>
                            <%if(data.org){%>
                                <p><a href="<%= (data.org)?" http://localhost:8075/show/file/"+data.org.foto_4:"" %>"
                      target=_blank>Ver Archivo</a></p>
                            <%}else{%>
                                 <input type="file" class="form-control" id="foto_4"/>
                            <%}%>
                        </div>
                        <div class="Latitud form-group col-md-12 col-12">
                            <label for="latitud"><!-- <span style="color:red; font-size: 25px;">*</span> -->Latitud</label>
                            <input type="text" class="form-control" id="latitud" onkeypress="return justNumbers(event);" value="<%=(data.org)?data.org.coordenadas.coordinates[0]:""%>"/>
                        </div>
                        <div class="Longitud form-group col-md-12 col-12">
                            <label for="longitud"><!-- <span style="color:red; font-size: 25px;">*</span> -->Longitud</label>
                            <input type="text" class="form-control" id="longitud" onkeypress="return justNumbers(event);" value="<%=(data.org)?data.org.coordenadas.coordinates[1]:""%>"/>
                        </div>
                        <div class="Cluni form-group col-md-12 col-12">
                            <label for="cluniorganizacion"><span style="color:red; font-size: 25px;">*</span>Cuentas con CLUNI</label>
                            <select class="form-control" id="cluniorganizacion">
                                <% proceso.forEach(function(option, i){
                                    var selected = "";
                                    if(data.org){
                                        if(data.org.cluni == option){
                                            selected = "selected"
                                        }
                                    }
                                %>
                                    '<option value="<%= i %>" <%= selected %>><%= option %></option>'+
                                <% }) %>

                            </select>
                        </div>
                        <div class="Ncluni form-group col-md-12 col-12" style="display:none">
                            <label for="nocluniorganizacion"><span style="color:red; font-size: 25px;">*</span>Número de CLUNI</label>
                            <input type="text" class="form-control" id="nocluniorganizacion" placeholder="Número de CLUNI" value="<%= (data.org)?data.org.no_cluni:"" %>"/>
                        </div>
                        <div class="Municipio form-group col-md-12 col-12">
                            <label for="municipioorganizacion"><span style="color:red; font-size: 25px;">*</span>Municipio de incidencia</label>
                            <select class="form-control" id="municipioorganizacion">
                                <% municipios.forEach(function(mun, i){
                                    var selected = "";
                                    if(data.org){
                                        if(data.org.municipio == mun){
                                            selected = "selected"
                                        }
                                    }
                                %>
                                    '<option value="<%= i %>" <%= selected %>><%= mun %></option>'+
                                <% }) %>
                            </select>
                        </div>
                        <div class="Temas form-group col-md-12 col-12">
                            <label for="temasorganizacion"><span style="color:red; font-size: 25px;">*</span>Temas principales de atención</label>
                            <input type="text" class="form-control" id="temasorganizacion" placeholder="Temas principales de atención" value="<%= (data.org)?data.org.temas.toString():"" %>"/>
                            <small>Separar los temas por comas</small>
                        </div>
                        <div class="Donataria form-group col-md-12 col-12">
                            <label for="donatariaorganizacion"><span style="color:red; font-size: 25px;">*</span>¿Cuenta con donataria autorizada?</label>
                            <select class="form-control" id="donatariaorganizacion">
                                 <% opciones.forEach(function(opciones, i){
                                    var selected = "";
                                    if(data.org){
                                        if(data.org.donataria == opciones){
                                            selected = "selected"
                                        }
                                    }
                                %>
                                    '<option value="<%= i %>" <%= selected %>><%= opciones %></option>'+
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="Fechaconst form-group col-md-12 col-12">
                            <label for="constitucionorganizacion"><span style="color:red; font-size: 25px;">*</span>Fecha de constitución</label>
                            <input type="date" class="form-control datapicker" id="constitucionorganizacion" placeholder="Fecha de constitución" value=""/>
                        </div>
                        <div class="Telefono form-group col-md-12 col-12">
                            <label for="telefonoorganizacion"><span style="color:red; font-size: 25px;">*</span>Teléfono</label>
                            <input type="text" class="form-control" id="telefonoorganizacion" placeholder="Teléfono" value="<%= (data.org)?data.org.telefono:"" %>"/>
                        </div>
                        <div class="Correo form-group col-md-12 col-12">
                            <label for="correoorganizacion"><span style="color:red; font-size: 25px;">*</span>Correo electrónico</label>
                            <input type="text" class="form-control" id="correoorganizacion" placeholder="Correo electrónico" value="<%= data.user.correoorg%>" readonly/>
                        </div>
                        <div class="Pagina form-group col-md-12 col-12">
                            <label for="paginaorganizacion">Página web</label>
                            <input type="text" class="form-control" id="paginaorganizacion" placeholder="Página web" value="<%= (data.org)?data.org.pagina:"" %>"/>
                        </div>
                        <div class="Facebook form-group col-md-12 col-12">
                            <label for="facebookorganizacion"><span style="color:red; font-size: 25px;">*</span>Facebook</label>
                            <input type="text" class="form-control" id="facebookorganizacion" placeholder="Facebook" value="<%= (data.org)?data.org.facebook:"" %>"/>
                        </div>

                        <div class="Twitter form-group col-md-12 col-12">
                            <label for="twitterorganizacion"><span style="color:red; font-size: 25px;">*</span>Twitter</label>
                            <input type="text" class="form-control" id="twitterorganizacion" placeholder="Twitter" value="<%= (data.org)?data.org.twitter:"" %>"/>
                        </div>
                        <div class="Otrared form-group col-md-12 col-12">
                            <label for="otraredorganizacion"><span style="color:red; font-size: 25px;">*</span>Otra red social</label>
                            <input type="text" class="form-control" id="otraredorganizacion" placeholder="Otra red social" value="<%= (data.org)?data.org.otra_red:"" %>"/>
                        </div>
                        <div class="Npersonas form-group col-md-12 col-12">
                            <label for="nopersonasorganizacion"><span style="color:red; font-size: 25px;">*</span>Número de personas que laboran en tu organización</label>
                            <input type="text" class="form-control" id="nopersonasorganizacion" placeholder="Número de personas que laboran en tu organización" onkeypress="return justNumbers(event);" value="<%= (data.org)?data.org.no_personas:"" %>"/>
                        </div>
                        <div class="Voluntarios form-group col-md-12 col-12">
                            <label for="voluntariosorganizacion"><span style="color:red; font-size: 25px;">*</span>Número de voluntarios</label>
                            <input type="text" class="form-control" id="voluntariosorganizacion" placeholder="Número de voluntarios" onkeypress="return justNumbers(event);" value="<%= (data.org)?data.org.no_voluntarios:"" %>"/>
                        </div>
                        <div class="Mision form-group col-md-12 col-12">
                            <label for="misionorganizacion"><span style="color:red; font-size: 25px;">*</span>Misión</label>
                            <textarea rows="5" cols="100" id="misionorganizacion" maxlength="5000" style=" width: 100%; min-height: 100px; max-height: 200px"><%= (data.org)?data.org.mision:"" %></textarea>
                        </div>
                        <div class="Vision form-group col-md-12 col-12">
                            <label for="visionorganizacion"><span style="color:red; font-size: 25px;">*</span>Visión</label>
                            <textarea rows="5" cols="100" id="visionorganizacion" maxlength="5000" style=" width: 100%; min-height: 100px; max-height: 200px"><%= (data.org)?data.org.vision:"" %></textarea>
                        </div>
                        <div class="Junta form-group col-md-12 col-12">
                            <label for="juntaorganizacion"><span style="color:red; font-size: 25px;">*</span>Estas registrado en la Junta General de Asistencia del estado de Hidalgo</label>
                            <select class="form-control" id="juntaorganizacion">
                                <% opciones.forEach(function(option, i){
                                    var selected = "";
                                    if(data.org){
                                        if(data.org.junta_gral == option){
                                            selected = "selected"
                                        }
                                    }
                                %>
                                    '<option value="<%= i %>" <%= selected %>><%= option %></option>'+
                                <% }) %>

                            </select>


                        </div>
                        <div class="Objetivo form-group col-md-12 col-12">
                            <label for="objetivoorganizacion"><span style="color:red; font-size: 25px;">*</span>Objetivo social</label>
                            <textarea rows="5" cols="100" id="objetivoorganizacion" maxlength="1000" style=" width: 100%; min-height: 100px; max-height: 200px" placeholder="Máximo 100 caracteres"><%= (data.org)?data.org.objeto:"" %></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group col-md-12 col-12">
                            <h4 class="subtitle">Actividades</h4>
                        </div>
                        <div class="Actividades form-group col-md-12 col-12">
                            <i class="fas fa-square"></i><span class="actividad-subtitle">Desarrollo Integral Comunitario</span>
                            <div class="col-md-12 item">
                                <input type="checkbox" name="actividad1" id="actividad1">Apoyo para el desarrollo de los pueblos y comunidades indígenas.</br>
                                <input type="checkbox" name="actividad2" id="actividad2">Cooperación para el desarrollo comunitario en el entorno urbano o rural.</br>
                                <input type="checkbox" name="actividad3" id="actividad3">Promoción y aportación de servicios para la atención de la salud y cuestiones sanitarias.</br>
                                <input type="checkbox" name="actividad4" id="actividad4">Apoyo en el aprovechamiento de los recursos naturales, la protección del ambiente, la flora y la fauna, la preservación y restauración del equilibrio ecológico, así como la promoción del desarrollo sustentable a nivel regional y comunitario, de las zonas urbanas y rurales.</br>
                                <input type="checkbox" name="actividad5" id="actividad5">Fomento de acciones para mejorar la economía popular.
                            </div>
                        </div>
                        <div class="Actividades form-group col-md-12 col-12">
                            <i class="fas fa-square"></i><span class="actividad-subtitle">Participación social y ciudadana</span>
                            <div class="col-md-12 item">
                                <input type="checkbox" name="actividad6" id="actividad6">Cívicas, enfocadas a promover la participación ciudadana en asuntos de interés público.</br>
                                <input type="checkbox" name="actividad7" id="actividad7">Prestación de servicios de apoyo a la creación y fortalecimiento de organizaciones que realicen otras Organizaciones de la Sociedad Civil.</br>
                                <input type="checkbox" name="actividad8" id="actividad8">Promoción y defensa de los derechos de los consumidores.</br>
                            </div>
                        </div>
                        <div class="Actividades form-group col-md-12 col-12">
                            <i class="fas fa-square"></i><span class="actividad-subtitle">Asistencia social</span>
                            <div class="col-md-12 item">
                                <input type="checkbox" name="actividad9" id="actividad9">Asistencia Social, conforme a lo establecido en la Ley de Asistencia Social del estado de Hidalgo.</br>
                                <input type="checkbox" name="actividad10" id="actividad10">Apoyo a la alimentación popular.</br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="Actividades form-group col-md-12 col-12" style="margin-top: 42px">
                            <i class="fas fa-square"></i><span class="actividad-subtitle">Igualdad de género</span>
                            <div class="col-md-12 item">
                                <input type="checkbox" name="actividad11" id="actividad11">Promoción de la igualdad de género.
                            </div>
                        </div>
                        <div class="Actividades form-group col-md-12 col-12">
                            <i class="fas fa-square"></i><span class="actividad-subtitle">Derechos Humanos, Sociedad incluyente y cohesión social</span>
                            <div class="col-md-12 item">
                                <input type="checkbox" name="actividad12" id="actividad12">Apoyo en la defensa y promoción de los derechos humanos.</br>
                                <input type="checkbox" name="actividad13" id="actividad13">Aportación de servicios para la atención a grupos sociales con discapacidad.</br>
                                <input type="checkbox" name="actividad14" id="actividad14">Acciones que promuevan el fortalecimiento del tejido social y la seguridad ciudadana.</br>
                                <input type="checkbox" name="actividad15" id="actividad15">Asistencia jurídica.</br>
                            </div>
                        </div>
                        <div class="Actividades form-group col-md-12 col-12">
                            <i class="fas fa-square"></i><span class="actividad-subtitle">Promoción de actividades culturales, científicas y deportivas</span>
                            <div class="col-md-12 item">
                                <input type="checkbox" name="actividad16" id="actividad16">Promoción del deporte.</br>
                                <input type="checkbox" name="actividad17" id="actividad17">Promoción y fomento educativo, cultural, artístico, científico y tecnológico.
                            </div>
                        </div>
                        <div class="Actividades form-group col-md-12 col-12">
                            <i class="fas fa-square"></i><span class="actividad-subtitle">Protección civil</span>
                            <div class="col-md-12 item">
                                <input type="checkbox" name="actividad18" id="actividad18">Participación en acciones de protección civil.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group col-md-12 col-12">
                            <h4 class="subtitle">Domicilio Fiscal</h4>
                        </div>
                        <div class="Domiciliofiscal form-group col-md-12 col-12">
                            <label for="domfiscalcalle"><span style="color:red; font-size: 25px;">*</span>Calle</label>
                            <input type="text" class="form-control" id="domfiscalcalle" placeholder="Calle" value="<%=(data.org)?data.org.domfiscalcalle:""%>"/>
                        </div>
                        <div class="Domiciliofiscal form-group col-md-12 col-12">
                            <label for="domfiscalnoext"><span style="color:red; font-size: 25px;">*</span>No. exterior</label>
                            <input type="text" class="form-control" id="domfiscalnoext" placeholder="No. exterior" value="<%=(data.org)?data.org.domfiscalnoext:""%>"/>
                        </div>
                        <div class="Domiciliofiscal form-group col-md-12 col-12">
                            <label for="domfiscalnoint"><span style="color:red; font-size: 25px;">*</span>No. interior</label>
                            <input type="text" class="form-control" id="domfiscalnoint" placeholder="No. interior" value="<%=(data.org)?data.org.domfiscalnoint:""%>"/>
                        </div>
                        <div class="Domiciliofiscal form-group col-md-12 col-12">
                            <label for="domfiscalcolonia"><span style="color:red; font-size: 25px;">*</span>Colonia</label>
                            <input type="text" class="form-control" id="domfiscalcolonia" placeholder="Colonia" value="<%=(data.org)?data.org.domfiscalcolonia:""%>"/>
                        </div>
                        <div class="Domiciliofiscal form-group col-md-12 col-12">
                            <label for="domfiscalcp"><span style="color:red; font-size: 25px;">*</span>C.P.</label>
                            <input type="text" class="form-control" id="domfiscalcp" placeholder="C.P." value="<%=(data.org)?data.org.domfiscalcp:""%>"/>
                        </div>
                        <div class="Domiciliofiscal form-group col-md-12 col-12">
                            <label for="domfiscalmuni"><span style="color:red; font-size: 25px;">*</span>Municipio</label>
                            <select class="form-control" id="domfiscalmuni">
                                <% municipios.forEach(function(mun, i){
                                    var selected = "";
                                    if(data.org){
                                        if(data.org.domfiscalmunicipio == mun){
                                            selected = "selected"
                                        }
                                    }
                                %>
                                    '<option value="<%= i %>" <%= selected %>><%= mun %></option>'+
                                <% }) %>

                            </select>
                        </div>
                        <div class="form-group col-md-12 col-12">
                            <h4 class="subtitle">Domicilio Social</h4>
                        </div>
                        <div class="Domiciliosocial form-group col-md-12 col-12">
                            <label for="domsocial"><span style="color:red; font-size: 25px;">*</span>¿El domicilio fiscal es el mismo que el domicilio social?
                            </label>
                            <select class="form-control" id="domsocial">
                                <% proceso.forEach(function(option, i){
                                    var selected = "";
                                    if(data.org){
                                        if(data.org.domsocial == option){
                                            selected = "selected"
                                        }
                                    }
                                %>
                                    '<option value="<%= i %>" <%= selected %>><%= option %></option>'+
                                <% }) %>

                            </select>
                        </div>
                        <div class="Domiciliosocial form-group col-md-12 col-12">
                            <label for="domsocialcalle"><span style="color:red; font-size: 25px;">*</span>Calle</label>
                            <input type="text" class="form-control" id="domsocialcalle" placeholder="Calle" value="<%=(data.org)?data.org.domsocialcalle:""%>"/>
                        </div>
                        <div class="Domiciliosocial form-group col-md-12 col-12">
                            <label for="domsocialnoext"><span style="color:red; font-size: 25px;">*</span>No. exterior</label>
                            <input type="text" class="form-control" id="domsocialnoext" placeholder="No. exterior" value="<%=(data.org)?data.org.domsocialnoext:""%>"/>
                        </div>
                        <div class="Domiciliosocial form-group col-md-12 col-12">
                            <label for="domsocialnoint"><span style="color:red; font-size: 25px;">*</span>No. interior</label>
                            <input type="text" class="form-control" id="domsocialnoint" placeholder="No. interior" value="<%=(data.org)?data.org.domsocialnoint:""%>"/>
                        </div>
                        <div class="Domiciliosocial form-group col-md-12 col-12">
                            <label for="domsocialcolonia"><span style="color:red; font-size: 25px;">*</span>Colonia</label>
                            <input type="text" class="form-control" id="domsocialcolonia" placeholder="Colonia" value="<%=(data.org)?data.org.domsocialcolonia:""%>"/>
                        </div>
                        <div class="Domiciliosocial form-group col-md-12 col-12">
                            <label for="domsocialcp"><span style="color:red; font-size: 25px;">*</span>C.P.</label>
                            <input type="text" class="form-control" id="domsocialcp" placeholder="C.P." value="<%=(data.org)?data.org.domsocialcp:""%>"/>
                        </div>
                        <div class="Domiciliosocial form-group col-md-12 col-12">
                            <label for="domsocialmuni"><span style="color:red; font-size: 25px;">*</span>Municipio</label>
                            <select class="form-control" id="domsocialmuni">
                                <% municipios.forEach(function(mun, i){
                                    var selected = "";
                                    if(data.org){
                                        if(data.org.domfiscalmunicipio == mun){
                                            selected = "selected"
                                        }
                                    }
                                %>
                                    '<option value="<%= i %>" <%= selected %>><%= mun %></option>'+
                                <% }) %>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group col-md-12 col-12">
                            <h4 class="subtitle">Representante Legal</h4>
                        </div>
                        <div class="Representantelegal form-group col-md-12 col-12">
                            <label for="rlnombre"><span style="color:red; font-size: 25px;">*</span>Nombre</label>
                            <input type="text" class="form-control" id="rlnombre" value="<%=(data.org)?data.org.rlnombre:""%>"  placeholder="Nombre" />
                        </div>
                        <div class="Representantelegal form-group col-md-12 col-12">
                            <label for="rlapaterno"><span style="color:red; font-size: 25px;">*</span>Apellido Paterno</label>
                            <input type="text" class="form-control" id="rlapaterno" value="<%=(data.org)?data.org.rlapaterno:""%>"  placeholder="Apellido Paterno" />
                        </div>
                        <div class="Representantelegal form-group col-md-12 col-12">
                            <label for="rlamaterno"><span style="color:red; font-size: 25px;">*</span>Apellido Materno</label>
                            <input type="text" class="form-control" id="rlamaterno" value="<%=(data.org)?data.org.rlamaterno:""%>"  placeholder="Apellido Materno" />
                        </div>
                        <div class="Representantelegal form-group col-md-12 col-12">
                            <label for="rlfechanac"><span style="color:red; font-size: 25px;">*</span>Fecha de nacimiento</label>
                            <input type="date" class="form-control datapicker" id="rlfechanac" value="<%=(data.org)?data.org.rlfechanac:""%>"  placeholder="Fecha de nacimiento" />
                        </div>
                        <div class="Representantelegal form-group col-md-12 col-12">
                            <label for="rlcurp"><span style="color:red; font-size: 25px;">*</span>CURP</label>
                            <input type="text" class="form-control" id="rlcurp" value="<%=(data.org)?data.org.rlcurp:""%>"  placeholder="CURP" />
                        </div>
                        <div class="Representantelegal form-group col-md-12 col-12">
                            <label for="rlrfc"><span style="color:red; font-size: 25px;">*</span>RFC</label>
                            <input type="text" class="form-control" id="rlrfc" value="<%=(data.org)?data.org.rlrfc:""%>"  placeholder="RFC" />
                        </div>
                        <div class="Representantelegal form-group col-md-12 col-12">
                            <label for="rltelefono"><span style="color:red; font-size: 25px;">*</span>Teléfono celular</label>
                            <input type="text" class="form-control" id="rltelefono" value="<%=(data.org)?data.org.rltelefono:""%>"  placeholder="Teléfono celular" />
                        </div>
                        <div class="Representantelegal form-group col-md-12 col-12">
                            <label for="rlcorreo"><span style="color:red; font-size: 25px;">*</span>Correo electrónico</label>
                            <input type="text" class="form-control" id="rlcorreo" value="<%=(data.org)?data.org.rlcorreo:""%>"  placeholder="Correo electrónico" />
                        </div>
                        <div class="Representantelegal form-group col-md-12 col-12">
                            <label for="rldomicilio"><span style="color:red; font-size: 25px;">*</span>Domicilio</label>
                            <input type="text" class="form-control" id="rldomicilio" value="<%=(data.org)?data.org.rldomicilio:""%>"  placeholder="Domicilio" />
                        </div>
                        <div class="Representantelegal form-group col-md-12 col-12">
                            <label for="rlvalida"><span style="color:red; font-size: 25px;">*</span>¿El representante legal lleva la Dirección General de la Organización?</label>
                            <select class="form-control" id="rlvalida">
                                <% opciones.forEach(function(option, i){
                                    var selected = "";
                                    if(data.org){
                                        if(data.org.rlvalida == option){
                                            selected = "selected"
                                        }
                                    }
                                %>
                                    '<option value="<%= i %>" <%= selected %>><%= option %></option>'+
                                <% }) %>

                            </select>
                        </div>
                        <div class="Representantelegal form-group col-md-12 col-12">
                            <label for="rldg"><span style="color:red; font-size: 25px;">*</span>Nombre del Director General</label>
                            <input type="text" class="form-control" id="rldg" value="<%=(data.org)?data.org.rldg:""%>" placeholder="Nombre del Director General" />
                        </div>
                        <div class="Representantelegal form-group col-md-12 col-12">
                            <label for="rldgcurp"><span style="color:red; font-size: 25px;">*</span>CURP</label>
                            <input type="text" class="form-control" id="rldgcurp" value="<%=(data.org)?data.org.rldgcurp:""%>" placeholder="CURP" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-12 col-12">
                            <h4 class="subtitle">Programas</h4>
                        </div>
                        <div id="Programas" class="col-md-12 col-12"></div>
                        <div class="Programa form-group col-md-6 col-6">
                            <button id="addPrograma" type="button" class="btn btn-outline-secondary btn-sm btn-block">Agregar programa</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-12 col-12">
                            <h4 class="subtitle">Información adicional</h4>
                            <p>En esta sección puedes agregar información adicional que compruebe la experiencia de tu organización como: Premios, cartas de recomendación, certificaciones, reconocimientos.</p>
                        </div>
                        <div id="Adicional" class="col-md-12 col-12"></div>
                        <div class="Infadicional form-group col-md-6 col-6">
                            <button id="addAdicional" type="button" class="btn btn-outline-secondary btn-sm btn-block">Agregar información adicional</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h1 class="title">Documentación</h1>
                            <hr/>
                        </div>
                        <div class="Documentacion form-group col-md-12 col-12">
                            <label for="docacta"><span style="color:red; font-size: 25px;">*</span>Acta Constitutiva</label>
                            <%if(data.org){%>
                                <p><a href="<%= (data.org)?" http://localhost:8075/show/file/"+data.org.docacta:"" %>"
                      target=_blank>Ver Archivo</a></p>
                            <%}else{%>
                                 <input type="file" class="form-control" id="docacta" name="documentacionArchivo1" placeholder="Archivo" />
                            <%}%>
                        </div>
                        <div class="Documentacion form-group col-md-12 col-12">
                            <label for="docrfc"><span style="color:red; font-size: 25px;">*</span>Regsitro Federal de Contribuyentes RFC</label>
                            <%if(data.org){%>
                                <p><a href="<%= (data.org)?" http://localhost:8075/show/file/"+data.org.docrfc:"" %>"
                      target=_blank>Ver Archivo</a></p>
                            <%}else{%>
                                  <input type="file" class="form-control" id="docrfc" name="documentacionArchivo2" placeholder="Archivo" />
                            <%}%>
                        </div>
                        <div class="Documentacion form-group col-md-12 col-12">
                            <label for="docdomfiscal"><span style="color:red; font-size: 25px;">*</span>Comprobante de domicilio fiscal</label>
                            <%if(data.org){%>
                                <p><a href="<%= (data.org)?" http://localhost:8075/show/file/"+data.org.docdomfiscal:"" %>"
                      target=_blank>Ver Archivo</a></p>
                            <%}else{%>
                                  <input type="file" class="form-control" id="docdomfiscal" name="documentacionArchivo3" placeholder="Archivo" />
                            <%}%>
                        </div>
                        <div class="Documentacion form-group col-md-12 col-12">
                            <label for="doccluni"><span style="color:red; font-size: 25px;">*</span>CLUNI</label>
                            <%if(data.org){%>
                                <p><a href="<%= (data.org)?" http://localhost:8075/show/file/"+data.org.doccluni:"" %>"
                      target=_blank>Ver Archivo</a></p>
                            <%}else{%>
                                 <input type="file" class="form-control" id="doccluni" name="documentacionArchivo4" placeholder="Archivo" />
                            <%}%>
                        </div>
                        <div class="Documentacion form-group col-md-12 col-12">
                            <label for="docrepresentantelegal"><span style="color:red; font-size: 25px;">*</span>Identificación del Representante Legal</label>
                            <%if(data.org){%>
                                <p><a href="<%= (data.org)?" http://localhost:8075/show/file/"+data.org.docrepresentantelegal:"" %>"
                      target=_blank>Ver Archivo</a></p>
                            <%}else{%>
                                <input type="file" class="form-control" id="docrepresentantelegal" name="documentacionArchivo5" placeholder="Archivo" />
                            <%}%>
                        </div>
                        <div class="Documentacion form-group col-md-12 col-12">
                            <label for="doccaratula"><span style="color:red; font-size: 25px;">*</span>Carátula de último estado de cuenta</label>
                            <%if(data.org){%>
                                <p><a href="<%= (data.org)?" http://localhost:8075/show/file/"+data.org.doccaratula:"" %>"
                      target=_blank>Ver Archivo</a></p>
                            <%}else{%>
                                <input type="file" class="form-control" id="doccaratula" name="documentacionArchivo6" placeholder="Archivo" />
                            <%}%>
                        </div>
                        <div class="Documentacion form-group col-md-12 col-12">
                            <label for="docconstancia"><span style="color:red; font-size: 25px;">*</span>Constancia de opinión de cumplimiento 32D</label>
                            <%if(data.org){%>
                                <p><a href="<%= (data.org)?" http://localhost:8075/show/file/"+data.org.docconstancia:"" %>"
                      target=_blank>Ver Archivo</a></p>
                            <%}else{%>
                                <input type="file" class="form-control" id="docconstancia" name="documentacionArchivo7" placeholder="Archivo" />
                            <%}%>
                        </div>
                        <div class="Documentacion form-group col-md-12 col-12">
                            <label for="docreporteanual"><span style="color:red; font-size: 25px;">*</span>Último reporte anual de actividades</label>
                            <%if(data.org){%>
                                <p><a href="<%= (data.org)?" http://localhost:8075/show/file/"+data.org.docreporteanual:"" %>"
                      target=_blank>Ver Archivo</a></p>
                            <%}else{%>
                                <input type="file" class="form-control" id="docreporteanual" name="documentacionArchivo8" placeholder="Archivo" />
                            <%}%>
                        </div>
                        <div class="Documentacion form-group col-md-12 col-12">
                            <label for="docacuse"><span style="color:red; font-size: 25px;">*</span>Acuse de entrega de Reporte Anual de Actividades ante la Junta General de Asisitencia</label>
                            <%if(data.org){%>
                                <p><a href="<%= (data.org)?" http://localhost:8075/show/file/"+data.org.docacuse:"" %>"
                      target=_blank>Ver Archivo</a></p>
                            <%}else{%>
                                <input type="file" class="form-control" id="docacuse" name="documentacionArchivo9" placeholder="Archivo" />
                            <%}%>
                        </div>
                    </div> 
                </div>

                    <div class="col-md-3" style="margin-bottom: 20px;">
                        <button class="btn btn-success btn-lg btn-block" id="guardaRegistro">Guardar</button>
                    </div>


            <br><br>
            </div>
        </div>
        
    </div>
<script type="text/javascript">
    function Looper(data, processData, done) {
      if (data.length > 0) {
        var loop = function(data, i, processData, done) {
          processData(data[i], i, function() {
            if (++i < data.length) {
              loop(data, i, processData, done);
            } else {
              done();
            }
          });
        };
        loop(data, 0, processData, done);
      } else {
        done();
      }
    }

    function validarFormatoFecha(campo) {
            var RegExPattern = /^\d{2,4}\-\d{1,2}\-\d{1,2}$/;
            if ((campo.match(RegExPattern)) && (campo!='')) {
                    return true;
            } else {
                    return false;
            }
        }

    function justNumbers(e){
        var keynum = window.event ? window.event.keyCode : e.which;
        if ((keynum == 8) || (keynum == 46) || (keynum == 45))
        return true;
         
        return /\d/.test(String.fromCharCode(keynum));
    }

    function SubirArchivo(_id, input, callback){
        var archivo = input.files[0];
        console.log(archivo);
        if(archivo == undefined){
            Swal.fire({
              icon: 'error',
              title: '¡ERROR!',
              text: 'Falta algún archivo por adjuntar'
            })
        }
        var extension = (archivo.name).split(".")[1];
        var data = new FormData();
        data.append('archivo', archivo);
        var opts = {
            url: '/subir/archivo/'+_id+'/'+extension + '/' + (archivo.type.split("/").join("_")),
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            method: 'POST',
            type: 'POST',
            success: function(data){
                callback(data.success);
            }
        };
        if(data.fake) {
            opts.xhr = function() { var xhr = jQuery.ajaxSettings.xhr(); xhr.send = xhr.sendAsBinary; return xhr; }
            opts.contentType = "multipart/form-data; boundary="+data.boundary;
            opts.data = data.toString();
        }
        $.ajax(opts);
    }

    var views = { programa: [], adicional:[]};
    var opcionesArray = "<%- opciones %>".split(",");
    var procesoArray = "<%- proceso %>".split(",");
    var municipiosArray = "<%- municipios %>".split(",");
    var tiposArray = "<%- tipos %>".split(",");

    $(document).ready(function(){
        conregistro = <%- JSON.stringify(data.organizacion) %>;
        console.log(conregistro);
         if(conregistro >=1){
            Swal.fire({
                icon: 'error',
                title: '¡ERROR!',
                text:'Ya cuenta con un registro, no es posible crear uno nuevo'
            })
            setTimeout(()=>{
                window.location.href="/Bienvenido";
            window.scrollTo(0, 0);
            },5000);
        }
        var cluni = $("#cluniorganizacion").val();
            if(cluni == 1){
                $(".Ncluni").css("display", "block")
            }else{
                $(".Ncluni").css("display", "none")
            }

        $("#domsocial").change(function(){
            var domsocial = $('#domsocial').val();
            if(procesoArray[domsocial] == "Si"){
                $('#domsocialcalle').val($('#domfiscalcalle').val()); 
                $('#domsocialnoext').val($('#domfiscalnoext').val()); 
                $('#domsocialnoint').val($('#domfiscalnoint').val()); 
                $('#domsocialcolonia').val($('#domfiscalcolonia').val()); 
                $('#domsocialcp').val($('#domfiscalcp').val());
                var muni = $('#domfiscalmuni').val();   
                $('#domsocialmuni').val(muni);  
            }
        });


        $("#rlvalida").change(function(){
            var rlvalida = $('#rlvalida').val();
            console.log(rlvalida);
            if(opcionesArray[rlvalida] == "Si"){
                var nombredg = $('#rlnombre').val() + " " + $('#rlapaterno').val() + " " + $('#rlamaterno').val();
                $('#rldg').val(nombredg);
                $('#rldgcurp').val($('#rlcurp').val());
            }
        });

        $("#cluniorganizacion").change(function(){
            var cluni = $("#cluniorganizacion").val();
            if(cluni == 1){
                $(".Ncluni").css("display", "block")
            }else{
                $(".Ncluni").css("display", "none")
            }
        });
        
    });

    GruposPrograma = [];
    GruposAdicional = [];
    


    class Programa{
        constructor(deleteFunc, i){
            this.i = i;
            this.content = $('<div class="row"><div class="Programa form-group col-md-6 col-6">'+
                    '<label for="programanombre"><span style="color:red; font-size: 25px;">*</span>Nombre del programa</label>'+
                    '<input type="text" class="form-control" id="programanombre' + i + '" placeholder="Nombre del programa" />'+
                '</div>'+
                '<div class="Programa form-group col-md-6 col-6">'+
                    '<label for="programabeneficiarios"><span style="color:red; font-size: 25px;">*</span>Total de beneficiarios</label>'+
                    '<input type="text" class="form-control" id="programabeneficiarios' + i + '" placeholder="Total de beneficiarios" />'+
                '</div></div>'+
                '<div class="row"><div class="Programa form-group col-md-12 col-12">'+
                    '<label for="programadescripcion"><span style="color:red; font-size: 25px;">*</span>Descripción del programa</label>'+
                    '<input type="text" maxlength="100" class="form-control" id="programadescripcion' + i + '" placeholder="Máximo 100 palabras" />'+
               ' </div></div>'+
                '<div class="col-3">'+
                    '<div class="form-group">'+ 
                    '<button id="deleteprograma" type="button" class="btn btn-outline-danger form-control">Eliminar</button>'+
                '</div>'
                );
            this.content.find("#deleteprograma").click(function() {
                deleteFunc(i);
            });
        }
        html(){
            return this.content;
        }
        JSON(){
            const obj = {
                programanombre: this.content.find("#programanombre"+ this.i).val(),
                programadescripcion:this.content.find("#programadescripcion"+ this.i).val(),
                programabeneficiarios:this.content.find("#programabeneficiarios"+ this.i).val()
            };

            return obj;
                
        };
    }

    function Removeprograma(i) {
        views.programa[i].html().remove();
        views.programa.splice(i, 1);
    }

    $('#addPrograma').click(function(){
        var newPrograma = new Programa(Removeprograma, views.programa.length);
        views.programa.push(newPrograma);
        $("#Programas").append(newPrograma.html());
    });

    class Adicional{
        constructor(deleteFunc, i){
            this.i = i;
            this.content = $('<div class="Infadicional form-group col-md-12 col-12">'+
                    '<label for="adicionaltipo"><span style="color:red; font-size: 25px;">*</span>Tipo</label>'+
                    '<select class="form-control" id="adicionaltipo' + i + '">'+
                        <% tipos.forEach(function(tipo, i){ %>
                            '<option value="<%= tipo %>"><%= tipo %></option>'+
                        <% }) %>
                    '</select>'+
                '</div>'+
                '<div class="Infadicional form-group col-md-12 col-12">'+
                    '<label for="adicionaldescripcion"><span style="color:red; font-size: 25px;">*</span>Descripción</label>'+
                    '<input type="text" maxlength="100" class="form-control" id="adicionaldescripcion' + i + '" placeholder="Máximo 100 palabras" />' +
                '</div>'+
                '<div class="Infadicional form-group col-md-12 col-12">'+
                    '<label for="adicionalfechaemision"><span style="color:red; font-size: 25px;">*</span>Fecha de emisión</label>'+
                    '<input type="date" class="form-control datapicker" id="adicionalfechaemision' + i + '" placeholder="Fecha de emisión" />'+
                '</div>'+
                '<div class="Infadicional form-group col-md-12 col-12">'+
                    '<label for="adicionalcomprobante"><span style="color:red; font-size: 25px;">*</span>Comprobable</label>'+
                    '<input type="file" class="form-control" id="adicionalcomprobante' + i + '" name="comprobanteArchivo" placeholder="Archivo" />'+
                '</div>'+
                '<div class="col-3">'+
                    '<div class="form-group">'+ 
                    '<button id="deleteadicional" type="button" class="btn btn-outline-danger form-control">Eliminar</button>'+
                '</div>'
                );

            this.content.find("#adicionalbeneficiarios"+i).datepicker({
                dateFormat: 'dd/mm/yy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
            });

            this.content.find("#deleteadicional").click(function() {
                deleteFunc(i);
            });

            try{
                var ifile = this.content.find("#adicionalcomprobante"+i);
                ifile.addEventListener("change", () => {
                    SubirArchivo("nuevo", ifile, (nombre) => {
                        ifile.setAttribute("data",nombre);
                    });
                });
            }catch(e){
                console.error(e);
            }
        }
        html(){
            return this.content;
        }
        JSON(){
            var fechaActual = new Date();
            var anoActual = fechaActual.getFullYear();
            var fecha = this.content.find("#adicionalfechaemision"+this.i).val();
            var array_fechasol = fecha.split("/");
            var fechaEmision = Number(new Date(array_fechasol[2], array_fechasol[1]-1, array_fechasol[0]));
            const obj = {
                adicionaltipo: this.content.find("#adicionaltipo"+this.i).val(),
                adicionaldescripcion: this.content.find("#adicionaldescripcion"+ this.i).val(),
                adicionalfechaemision: fechaEmision,
                adicionalcomprobante: this.content.find("#adicionalcomprobante"+ this.i).val(),
        };

            return obj;
                
        };
    }

    function Removeadicional(i) {
        views.adicional[i].html().remove();
        views.adicional.splice(i, 1);
    }

    $('#addAdicional').click(function(){
        var newAdicional = new Adicional(Removeadicional, views.adicional.length);
        views.adicional.push(newAdicional);
        $("#Adicional").append(newAdicional.html());
    });

    $("#guardaRegistro").click(function(){
        GruposPrograma = [];
        GruposAdicional = [];
        var rfc = $("#rfc").val();
        var nombreorganizacion = $('#nombreorganizacion').val();
        var descripcionorganizacion = $('#descripcionorganizacion').val();
        var palabrasclave = $("#palabrasclave").val().split(",");
        var longitud = $("#longitud").val();
        var latitud = $("#latitud").val();
        var cluniorganizacion = $('#cluniorganizacion').val();
        var nocluniorganizacion = $('#nocluniorganizacion').val();
        var rfcorganizacion = $('#rfcorganizacion').val();
        var municipioorganizacion = $('#municipioorganizacion').val();
        var temasorganizacion = $('#temasorganizacion').val().split(',');
        var donatariaorganizacion = $('#donatariaorganizacion').val();
        var constorg = $('#constitucionorganizacion').val();
        var arrayconstorg = constorg.split("/");
        var constitucionorganizacion = Number(new Date(arrayconstorg[2], arrayconstorg[1]-1, arrayconstorg[0]))
        var telefonoorganizacion = $('#telefonoorganizacion').val();
        var correoorganizacion = $('#correoorganizacion').val();
        var paginaorganizacion = $('#paginaorganizacion').val();
        var facebookorganizacion = $('#facebookorganizacion').val();
        var twitterorganizacion = $('#twitterorganizacion').val();
        var otraredorganizacion = $('#otraredorganizacion').val();
        var nopersonasorganizacion = $('#nopersonasorganizacion').val();
        var voluntariosorganizacion = $('#voluntariosorganizacion').val();
        var misionorganizacion = $('#misionorganizacion').val();
        var visionorganizacion = $('#visionorganizacion').val();
        var juntaorganizacion = $('#juntaorganizacion').val();
        var objetivoorganizacion = $('#objetivoorganizacion').val();
        var actividad1 = $('#actividad1').prop('checked');
        var actividad2 = $('#actividad2').prop('checked');
        var actividad3 = $('#actividad3').prop('checked');
        var actividad4 = $('#actividad4').prop('checked');
        var actividad5 = $('#actividad5').prop('checked');
        var actividad6 = $('#actividad6').prop('checked');
        var actividad7 = $('#actividad7').prop('checked');
        var actividad8 = $('#actividad8').prop('checked');
        var actividad9 = $('#actividad9').prop('checked');
        var actividad10 = $('#actividad10').prop('checked');
        var actividad11 = $('#actividad11').prop('checked');
        var actividad12 = $('#actividad12').prop('checked');
        var actividad13 = $('#actividad13').prop('checked');
        var actividad14 = $('#actividad14').prop('checked');
        var actividad15 = $('#actividad15').prop('checked');
        var actividad16 = $('#actividad16').prop('checked');
        var actividad17 = $('#actividad17').prop('checked');
        var actividad18 = $('#actividad18').prop('checked');
        var domfiscalcalle = $('#domfiscalcalle').val();
        var domfiscalnoext = $('#domfiscalnoext').val();
        var domfiscalnoint = $('#domfiscalnoint').val();
        var domfiscalcolonia = $('#domfiscalcolonia').val();
        var domfiscalcp = $('#domfiscalcp').val();
        var domfiscalmunicipio = $('#domfiscalmuni').val();
        var domsocial = $('#domsocial').val();
        var domsocialcalle = $('#domsocialcalle').val();
        var domsocialnoext = $('#domsocialnoext').val();
        var domsocialnoint = $('#domsocialnoint').val();
        var domsocialcolonia = $('#domsocialcolonia').val();
        var domsocialcp = $('#domsocialcp').val();
        var domsocialmuni = $('#domsocialmuni').val();
        var rlnombre = $('#rlnombre').val();
        var rlapaterno = $('#rlapaterno').val();
        var rlamaterno = $('#rlamaterno').val();
        var rlfechanac = $('#rlfechanac').val();
        var rlfechaf = $('#rlfechanac').val();
        var arrayrlfechaf = rlfechaf.split("/");
        var rlfechanac = Number(new Date(arrayrlfechaf[2], arrayrlfechaf[1]-1, arrayrlfechaf[0]))
        var rlcurp = $('#rlcurp').val().toUpperCase();;
        var rlrfc = $('#rlrfc').val().toUpperCase();;
        var rltelefono = $('#rltelefono').val();
        var rlcorreo = $('#rlcorreo').val();
        var rldomicilio = $('#rldomicilio').val();
        var rlvalida = $('#rlvalida').val();
        var rldg = $('#rldg').val();
        var rldgcurp = $('#rldgcurp').val();
        views.programa.forEach(function(prog, i) {
            GruposPrograma.push(prog.JSON());
            console.log(GruposPrograma);
        });
        views.adicional.forEach(function(adic, i) {
            GruposAdicional.push(adic.JSON());
            console.log(GruposAdicional);
        });

        console.log(views.adicional, views.programa);
        GruposActividades = [
            actividad1,actividad2,actividad3,actividad4,actividad5,
            actividad6,actividad7,actividad8,actividad9,actividad10,
            actividad11,actividad12,actividad13,actividad14,actividad15,
            actividad16,actividad17,actividad18
        ];

        var fechaActual = new Date();
        var anoActual = fechaActual.getFullYear();

        var data = {
            nombre: nombreorganizacion,
            descripcion:descripcionorganizacion,
            estatus: "Registro",
            logotipo: logotipo,
            palabras_claves: palabrasclave,
            foto_1: foto_1,
            foto_2: foto_2,
            foto_3: foto_3,
            foto_4: foto_4,
            coordenadas: {
                    type:"Point",
                    coordinates:[latitud,longitud]
                },
            cluni: procesoArray[cluniorganizacion],
            no_cluni: nocluniorganizacion,
            rfc: rfcorganizacion,
            municipio: municipiosArray[municipioorganizacion],
            temas: temasorganizacion,
            donataria: opcionesArray[donatariaorganizacion],
            fecha: constitucionorganizacion,
            telefono: telefonoorganizacion,
            correo: correoorganizacion,
            pagina: paginaorganizacion,
            facebook: facebookorganizacion,
            twitter: twitterorganizacion,
            otra_red: otraredorganizacion,
            no_personas: nopersonasorganizacion,
            no_voluntarios: voluntariosorganizacion,
            mision: misionorganizacion,
            vision: visionorganizacion,
            junta_gral: opcionesArray[juntaorganizacion],
            objeto: objetivoorganizacion,
            actividades: GruposActividades,
            domfiscalcalle: domfiscalcalle,
            domfiscalnoext: domfiscalnoext,
            domfiscalnoint: domfiscalnoint,
            domfiscalcolonia: domfiscalcolonia,
            domfiscalcp: domfiscalcp,
            domfiscalmunicipio: municipiosArray[domfiscalmunicipio],
            domsocial: procesoArray[domsocial],
            domsocialcalle: domsocialcalle,
            domsocialnoext: domsocialnoext,
            domsocialnoint: domsocialnoint,
            domsocialcolonia: domsocialcolonia,
            domsocialcp: domsocialcp,
            domsocialmunicipio: municipiosArray[domsocialmuni],
            rlnombre: rlnombre,
            rlapaterno: rlapaterno,
            rlamaterno: rlamaterno,
            rlfechanac: rlfechanac,
            rlcurp: rlcurp,
            rlrfc: rlrfc,
            rltelefono: rltelefono,
            rlcorreo: rlcorreo,
            rldomicilio: rldomicilio,
            rlvalida: opcionesArray[rlvalida],
            rldg: rldg,
            rldgcurp: rldgcurp,
            programa: GruposPrograma,
            adicional: GruposAdicional,
            docacta:'',
            docrfc: '',
            docdomfiscal: '',
            doccluni: '',
            docrepresentantelegal: '',
            doccaratula: '',
            docconstancia: '',
            docreporteanual: '',
            docacuse: ''
        };


        var files = ["logotipo","foto_1","foto_2","foto_3","foto_4","docacta","docrfc","docdomfiscal","doccluni","docrepresentantelegal","doccaratula","docconstancia","docreporteanual","docacuse"];

        Looper(files, (id, i, nextFilePost) => {
            const input = document.getElementById(id);
            SubirArchivo(id, input, (nombre) => {
                data[id] = nombre;
                nextFilePost();
            });
        }, () => {
            console.log("END", data);
            if(data.nombre != "" && data.descripcion != "" && data.estatus != "" && data.logotipo != "" && data.palabras_claves != "" && data.foto_1 != "" && data.foto_2 != "" && data.foto_3 != "" && data.foto_4 != "" && data.cluni != "" && data.no_cluni != "" && data.rfc != "" && data.municipio != "" && data.temas != "" && data.donataria != "" && data.fecha != "" && data.telefono != "" && data.correo != "" && data.pagina != "" && data.facebook != "" && data.twitter != "" && data.otra_red != "" && data.no_personas != "" && data.no_voluntarios != "" && data.mision != "" && data.vision != "" && data.junta_gral != "" && data.objeto != "" && data.actividades != "" && data.domfiscalcalle != "" && data.domfiscalnoext != "" && data.domfiscalnoint != "" && data.domfiscalcolonia != "" && data.domfiscalcp != "" && data.domfiscalmunicipio != "" && data.domsocial != "" && data.domsocialcalle != "" && data.domsocialnoext != "" && data.domsocialnoint != "" && data.domsocialcolonia != "" && data.domsocialcp != "" && data.domsocialmunicipio != "" && data.rlnombre != "" && data.rlapaterno != "" && data.rlamaterno != "" && data.rlfechanac != "" && data.rlcurp != "" && data.rlrfc != "" && data.rltelefono != "" && data.rlcorreo != "" && data.rldomicilio != "" && data.rlvalida != "" && data.rldg != "" && data.rldgcurp != "" && data.programa != "" && data.adicional != "" && data.docacta != "" && data.docrfc != "" && data.docdomfiscal != "" && data.doccluni != "" && data.docrepresentantelegal != "" && data.doccaratula != "" && data.docconstancia != "" && data.docreporteanual != "" && data.docacuse != ""){
                $.ajax({
                    type: "POST",
                    url: "/nueva/organizacion",
                    data: data,
                    success: (data) => {
                        if (data.success) {
                            Swal.fire({
                                icon: 'success',
                                title: '¡Su registro se ha guardado exitosamente!',
                            })

                            setTimeout(()=>{
                                window.location.href="/Respuesta2";
                            window.scrollTo(0, 0);
                            },10000);
                            setTimeout(()=>{
                                window.location.href="/Respuesta2";
                            window.scrollTo(0, 0);
                            },100000);
                        }
                        if (data.error) {
                            console.log(data);
                            Swal({
                                title: '¡Error!',
                                text: 'Hubo un error al guardar Trámite',
                                type: 'error',
                                icon:'error',
                                timer: 1500
                            });
                        }
                    }
                });
            }else{
                console.log(data);
                Swal.fire({
                  icon: 'error',
                  title: '¡ERROR!',
                  text: 'Falta algún campo por rellenar'
                })
            }
        });

    })
</script>
