<%- include("../primary/onHeadLogin") %>
<div class="row">
	<div class="col-md-12">
		<div class="respuesta">
			<p class="principal">Gracias por tu registro</p>
			<p class="secundario">Los datos serán validados y en un máximo de 10 días te llegará un correo<br>
	electrónico con la aprobación de tu registro o las observaciones a solventar.
			</p>
			<p class="subtitle">IMPORTANTE</p>
			<p class="secundario">Mientras tu registro es validado no podrás realizar ninguna acción
	dentro del portal.</p>
			<div>
				<button class="btn" onclick="window.location.href='/Bienvenido'">Regresar</button>
			</div>
		</div>
	</div>
</div>