<%- include("../primary/without-login") %>
<div class="row">
	<div class="col-md-12">
		<div class="respuesta">
			<p class="principal">VALIDA TU CORREO ELECTRÓNICO</p>
			<p class="secundario">Gracias por iniciar tu registro, a tu correo llegará la validación de tu correo. Una vez <br/>validado podrás iniciar sesión con tu RFC y la contraseña que elegiste.</p>
			<div>
				<button class="btn btn-back" onclick="window.location.href='/Bienvenido'">Regresar</button>
			</div>
		</div>
	</div>
</div>