<%- include("../primary/onHead", {data:data}) %>
<div class="container">
	<div class="row" id="bienvenido">
		<div class="col-md-12">
				<table class="table">
					<tr>
						<th>RFC</th>
						<th>Oganización</th>
						<th>Descripción</th>
						<th>CLUNI</th>
						<th>Municipio</th>
						<th>Fecha de registro</th>
						<th>Estatus</th>
						<th>Acciones</th>
					</tr>
					<%data.registros.forEach(function(parm){
					%>
					<tr>
						<td><%=parm.rfc%></td>
						<td><%=parm.nombre%></td>
						<td style="text-align: justify;"><%=parm.descripcion.substring(0,60).concat("...")%></td>
						<td><%=parm.cluni%></td>
						<td><%=parm.municipio%></td>
						<td><%=(new Date(parseInt(parm.fecha))).getDate() +"/"+ ((new Date(parseInt(parm.fecha))).getMonth()+1) +"/"+ (new Date(parseInt(parm.fecha))).getFullYear()%></td>
						<td><%=parm.estatus%></td>
						<td><button class="btn btn-success" onclick="javascript: window.location.href = '/validar/<%=parm._id%>'">Validar</button></td>
					</tr>
					<%})%>
				</table>

		</div>
	</div>
</div>