<style type="text/css">
	#atencionTramite .tramitesadd{
		border-bottom: 2px solid black;
		padding: 2% 0;
	}
	.menuFiltro{
		background: #092432;
		padding: 2%;
		margin-top: 10px;
		font-weight: 300;
	}
	.menuFiltro ul li{
		text-decoration: none;
		list-style: none;
	}

	.menuFiltro .btnFilter{
		cursor: pointer;
		color: white;
		height: 50px;
	    position: relative;
	    padding: 10px 0px 10px 20px;
	    letter-spacing: 0.25em;
	    top: 5px;
	}
	.menuFiltro .btnFilter .iconoFiltro{
	    height: 25px;
	    background-repeat: no-repeat;
	    width: 30px;
	    background-position: bottom;
	    display: inline-block;
	}
	.menuFiltro .btnFilter:hover{
		background: #092432;
	}

	.menuFiltro ul{
		padding-left: 0;
	}
</style>
<div class="menuFiltro">
	<ul>
		<li>
			<div class="btnFilter" onclick="window.location.href='/Bienvenido'">
				<div class="iconoFiltro"><i class="fas fa-home"></i></div>
				<span>Inicio</span>
			</div>
		</li>
		<li>
			<div class="btnFilter" onclick="window.location.href='/Proyectos'">
				<div class="iconoFiltro"><i class="fas fa-lightbulb"></i></div>
				<span>Proyectos</span>
			</div>
		</li>
		<li>
			<div class="btnFilter" onclick="window.location.href='/Equipamientos'">
				<div class="iconoFiltro"><i class="fas fa-toolbox"></i></div>
				<span>Equipamientos</span>
			</div>
		</li>
		<li>
			<div class="btnFilter" onclick="window.location.href='/Premios'">
				<div class="iconoFiltro"><i class="fas fa-trophy"></i></div>
				<span>Premios</span>
			</div>
		</li>
	</ul>
</div>