<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <title><%=data.title%></title>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="./public/js/purl.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <style type="text/css">
        header{
            background: #092432;
            height: 10vh;
            align-items: center;
            display: flex;
            justify-content: center;
        }
        header h4{
            font-family: "Montserrat', sans-serif";
            color: #ffffff;
            /*letter-spacing: 0.25em;*/
            display: flex;
            letter-spacing: 2.3px;
        }
    </style>
</head>
<body>
<header>
    <nav class="container-fluid">
        <div class="row">
            <div class="col-9">
                <h4 style="margin-top: 10px; cursor: pointer;" onclick="window.location.href='/'">Subsecretaría de Participación Social y Fomento Artesanal</h4>
            </div>
            <%if(data.registro != undefined && data.registro.length >0){%>
            <div class="col-2">
                <p style="color:#fff; margin:0px"><%(data.user.rfcorg=="administrador")?"":"Estatus"%></p>
                <span style="color: <%= (data.registro[0].estatus == "Registro")?"yellow":(data.registro[0].estatus == "Validado")?"green":(data.registro[0].estatus == "Rechazado")?"red":""%>"><%= (data.user.rfcorg=="administrador")?"":(data.registro[0].estatus == "Registro")?"Estatus: En validación":(data.registro[0].estatus == "Validado")?"Estatus: Validado":(data.registro[0].estatus == "Rechazado")?"Estatus: Rechazado":""%></span>

            </div>
            <div class="col-1">
                <a style="color:#fff !important" href="/" onclick="window.location.href='/logout'"><span class="fas fa-sign-out-alt"></span>Salir</a>
            </div>
            <%}else{%>
                <div class="col-2">
                <p style="color:#fff; margin:0px"></p>
            </div>
            <div class="col-1">
                <a style="color:#fff !important" href="/" onclick="window.location.href='/logout'"><span class="fas fa-sign-out-alt"></span>Salir</a>
            </div>
            <%}%>
        </div>
    </nav>
</header>
</body>
<script>
    var data = <%- JSON.stringify(data) %>;
    console.log(data);
</script>